[2017-02-05 12:28] lonyle opened #1 "crash"
1. settings -> Git Server
  if Authentication is not chosen, crash
2. settings
 if PGP Key is not chosen, crash
3. In the "Password Store" main frame
 if PGP passphrase is not correct, crash
4. PGP Key URL support only https, not including http

[2017-02-05 13:32] mssun opened #2 "Handle gpg settings exception"
Handle PGP settings exception and show error.

[2017-02-05 16:51] mssun opened #3 "Show password as dots"
Show password as dots. Users can reveal and conceal password by tapping cells.

[2017-02-06 03:18] mssun commented on #1
- [x] settings -> Git Server
if Authentication is not chosen, crash
- [x] settings
if PGP Key is not chosen, crash
- [x] In the "Password Store" main frame
if PGP passphrase is not correct, crash
- [ ] PGP Key URL support only https, not including http

The last one is under investigating (with lower priority).

[2017-02-06 03:20] mssun commented on #2
done

[2017-02-06 03:20] #2 closed

[2017-02-06 04:09] mssun opened #4 "Copy password"
When concealed, copy dots

[2017-02-06 05:28] mssun commented on #4
done

[2017-02-06 05:28] #4 closed

[2017-02-06 05:29] mssun commented on #3
done

[2017-02-06 05:29] #3 closed

[2017-02-06 05:31] mssun commented on #1
For HTTP URL:

See article:https://forums.developer.apple.com/thread/48979 (App Transport Security REQUIRED January 2017)

In essence, HTTPS is mandatory in Jan 2017,

[2017-02-06 05:31] #1 closed

[2017-02-08 01:39] mssun opened #5 "Reflector Globals"
Static viable but not singlinton.

[2017-02-08 02:16] mssun commented on #5
done: f9e42b9

[2017-02-08 02:16] #5 closed

[2017-02-08 13:32] mssun opened #6 "Test cases without network"
- Sync
- Clone
- PGP
- SSH key

[2017-02-08 13:48] mssun opened #7 "Add special thanks to pass tool"
Password Store

[2017-02-09 05:53] mssun commented on #7
done

[2017-02-09 05:53] #7 closed

[2017-02-09 05:53] mssun commented on #6
done

[2017-02-09 05:53] #6 closed

[2017-02-09 15:08] mssun opened #8 "Use weak self instead of unowned"
Use weak instead of unowned

[2017-02-09 15:10] mssun opened #9 "Add version number"

[2017-02-09 16:56] mssun commented on #8
done

[2017-02-09 16:56] #8 closed

[2017-02-09 16:56] mssun commented on #9
done

[2017-02-09 16:56] #9 closed

[2017-02-15 14:05] yishilin14 opened #10 "Missing icon in readme.md"
In the first line of readme.md `<img src="icon/icon_round.png" width="76"/>`, the icon file `icon/icon_round.png` seems to be missing.

[2017-02-15 14:13] mssun commented on #10
Solved. Thank you.

[2017-02-15 14:13] #10 closed

[2017-02-15 14:21] yishilin14 opened #11 "Several crash issues"
1. Settings - Repository - SSH Key: Crash if URL is not a valid URL (e.g., empty).
2. Settings - Repository - PGP Key: Crash if URL is not a valid URL (e.g., empty).

[2017-02-15 14:38] mssun commented on #11
Fixed by commit 545a5b11bb84339b095cfda3802b5517c9e82c38.

[2017-02-15 14:38] #11 closed

[2017-02-19 16:10] mssun opened #13 "Consider add Apple style random password"
Random password generated by Apple keychain.

[2017-02-19 16:12] mssun opened #14 "When edit password, the additional text view cannot scroll"
Set minimal height or expend with user's input.

[2017-02-20 03:49] #13 closed

[2017-02-20 03:50] #14 closed

[2017-02-20 14:06] yishilin14 opened #15 "Support for showing password history (if any)"
It would be great if viewing password history is supported. It would be useful if something got messed up.

[2017-02-21 05:44] mssun opened #16 "Detailed text in password store cell is not set automatically when showing this view"

[2017-02-21 06:12] mssun opened #17 "Authentication method font size is not correct"

[2017-02-21 08:05] mssun opened #18 "3d touch to open search is broken"

[2017-02-21 08:37] chrishawes opened #19 "Incorrect GPG pass phrase leads to crash"
If your gpg pass phrase is incorrect, Pass crashes when trying to decrypt passwords.

Perhaps test and warn when setting up your keys.

[2017-02-21 08:39] mssun commented on #19
Thank you for the report. This is an known issue. I will work on it later.

[2017-02-21 08:39] chrishawes opened #20 "Safari Extension"
It'd be great to have deeper integration with Safari — allowing autofill, password generation and storing.

[2017-02-21 08:40] chrishawes commented on #19
No problem at all… thanks for letting me test.

[2017-02-21 08:44] chrishawes opened #21 "Support for folders"
Pass allows the creation of passwords in folders.

For example:
’pass insert Business/cheese-whiz-factory’

Currently the app displays all passwords in the top level.

[2017-02-21 09:30] mssun commented on #16
done.

[2017-02-21 09:30] #16 closed

[2017-02-21 09:37] mssun commented on #17
done.

[2017-02-21 09:37] #17 closed

[2017-02-21 19:37] ttyz opened #22 "Support iTunes File Sharing"
Uploading keys using some web server is a fine option, but I think it would be much more secure to use the file sharing mechanism to get the ssh and gpg keys to the device.

[2017-02-21 22:33] Hans-Maulwurf opened #23 "install via appstore?"
is it still under review or how do I find this in the appstore?

[2017-02-22 02:20] mssun commented on #23
The app is still under testing. Some core features are incompleted. If you want to use the app, please drop me an email for TestFlight external test or build your own version.

[2017-02-22 02:23] mssun commented on #22
Yes, you are right. I am considering to use other ways to share keys. Current solution is to fill in ASCII armor keys. I plan to support import by file sharing services such as DropBox.

[2017-02-22 03:15] #23 closed

[2017-02-22 05:25] #18 closed

[2017-02-22 05:26] mssun commented on #19
Fixed by commit: a2bcbe180462e971a93400dd06bb82f6d1b653ed

[2017-02-22 05:26] #19 closed

[2017-02-22 05:27] mssun commented on #21
In current version, the folder information will be shown under the password name in password details view. I will work on in next few release later.

[2017-02-22 05:28] mssun commented on #20
This will be in the TODO list (with lower priority however).

[2017-02-22 08:55] Hans-Maulwurf commented on #23
Sent you an email

[2017-02-22 09:48] ttyz opened #24 "Crash when tapping PGP botton"
After a fresh start, when I tap the "PGP Key" Button the application crashes.

Here is some info from the debug window:
[code]

I am using an iPad Air to test the application.

EDIT:
The issue is not present when application is running in the sidebar.

[2017-02-22 10:07] mssun commented on #24
Thanks for the report. This is due to a bug in showing ActionSheet. I will work on it.

[2017-02-22 10:20] mssun commented on #24
Resolved. Please try again. Feel free to report bugs on iPad. I don't have enough time to test it on iPad.

[2017-02-22 10:29] ttyz commented on #24
Great! Now it is resolved. iPad is my primary device, so I will be on the look

[2017-02-22 10:30] #24 closed

[2017-02-22 10:45] mssun opened #25 "Clean password in the pasteboard after certain seconds."

[2017-02-22 10:50] ttyz opened #26 "App crashes when saving empty PGP Key"
After saving an empty PGP key, the application crashes:

Debug info:
[code]

Also the application will continue to crash immediately after a restart

[2017-02-23 08:54] mssun commented on #26
Fixed by commit: e1f3a08

[2017-02-23 08:56] mssun commented on #26
I am closing this issue. Free feel to reopen if this is not thoroughly fixed.

[2017-02-23 08:56] #26 closed

[2017-02-23 09:06] ttyz commented on #22
I did try to implement this feature, and it seems to be successful. I will make a PR after doing some clean up of the code.

[2017-02-23 09:59] mssun commented on #25
Done.

[2017-02-23 09:59] #25 closed

[2017-02-23 14:42] mssun opened #32 "Provide a switch to turn off saving passphrase/password"

[2017-02-24 15:48] #22 closed

[2017-02-24 15:52] mssun opened #36 "May be rejected by UIFileSharingEnabled key set to true"
I got this information from:
http://stackoverflow.com/questions/10767517/rejected-by-uifilesharingenabled-key-set-to-true

I think it would be better to keep keys in Documents directory and repository in another private directory.

[2017-02-24 15:56] mssun commented on #36
This is related to #22.

[2017-02-24 16:24] ttyz commented on #36
Yes, I was thinking of it already. Also a short explanation for the user on how they can upload keys using iTunes may be nice somewhere.

[2017-02-24 16:28] mssun commented on #36
Right. When you mentioned iTunes file sharing in the first time, I even didn’t realise this function is a way to upload files.

[2017-02-24 16:39] yishilin14 opened #37 "Blurring app screen in switch mode"
Blurring app screen (or showing something else) in switch mode so that passwords won't be shown while switching apps.

[2017-02-25 03:20] mssun commented on #36
I briefly mention to uploading keys through iTunes in the Wiki page. https://github.com/mssun/passforios/wiki

I think it could be better to have some explanation about this function in the app. Currently the "Use uploaded keys" option is not easy to understand.

[2017-02-25 10:52] yishilin14 commented on #37
Done: 62db5da

[2017-02-25 10:52] #37 closed

[2017-02-25 15:22] yishilin14 opened #39 "Suggestions about setting password repository"
1. **Always add a "cancel" option in the "Please fill in the password of your Git account" dialog.** The reason for seeing this dialog is probably "wrong repository url" or "wrong/missing username". It does not make sense if we have to try the wrong password for several times before being able to double check the git repo url or username.
2. **Before asking the password, check and make sure that b

[2017-02-25 15:27] yishilin14 opened #40 "Continually prompt for password"
How to reproduce?

1. Settings - About - Erase All Password Store Data
2. Settings - Password Repository - Add a correct git repository url and a non-empty wrong username, hit "Save" and provide whatever password.

Then, Pass continually prompts for the password (not being able to "cancel" at all).

[2017-02-25 15:27] mssun commented on #39
Thank you so much! All sound legit improvements. Can you put them in seperate issues? Then I can solve them one by one.

[2017-02-25 15:43] yishilin14 commented on #39
Will separate issues next time [facepalm].

[2017-02-26 13:02] mssun commented on #40
I reproduce your issue. After providing wrong username/password combination for three times, the alert window will have an cancel button. Can you try to reproduce your issue again towards the latest master branch? I'm not sure if my recent code refactoring fix this bug silently.

[2017-02-26 13:13] mssun commented on #40
BTW, I have revised to show cancel button by default in commit: 44f148c7ea1bdf6da6ddc4e25bb8b79c4b2cee78

[2017-02-26 13:16] mssun commented on #39
- [x] show cancel button by default: 44f148c7ea1bdf6da6ddc4e25bb8b79c4b2cee78
- [ ] check fields before save
- [ ] clone repository in the Password Repository store view but not the main setting view
- [ ] improvements of user experience on typing URL
- [ ] make suggestions for the username

[2017-02-26 14:06] yishilin14 commented on #40
Showing the cancel button by default naturally fixes the bug.

[2017-02-26 14:10] mssun commented on #40
Thanks for your responsive feedback. I am closing this issue.

[2017-02-26 14:10] #40 closed

[2017-02-26 16:10] mssun opened #41 "Notify user the password will be cleaned after 45s when cooying"

[2017-02-26 17:27] qbit opened #42 "Support for yubikeys?"
Would it be possible to use a yubikey (in pgp/ccid mode) with this app? I take it there currently isn't any support - as I see no mention of it on the wiki.. but it would be neat if there was :D

[2017-02-27 04:37] mssun commented on #42
Hi, Pass for iOS doesn't support PGP/ccid currently. Please stay tuned.
More features will be added. Our main goal now is to implement/polish basic
functions. Thanks for your suggestion.

On Mon, 27 Feb 2017 at 1:28 AM, Aaron Bieber <notifications@github.com>
wrote:

--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2017-02-28 04:36] mssun commented on #32
Add a setting to turn off remembering passphrase of key by commit: fa512e6c8602838fc659206a5db84f3cca849881

For Git password, there is no need to store it, I am considering to remove the logic.

[2017-02-28 11:52] mssun commented on #15
We support show to history:
  - last update time
  - recent commit logs

For change history, we have to checkout older version then encrypt. If key changed, things may get complex. We can bring up this discussion later after basic functions are stable. I'm closing this issue.

[2017-02-28 11:52] #15 closed

[2017-02-28 17:11] evanwalsh opened #43 "One-time password token support"
Hello! Any chance of support for OTP support (as implemented by [pass-otp](https://github.com/tadfisher/pass-otp))?

[2017-03-01 00:41] mssun commented on #43
Good suggestion. We will work on it later.

[2017-03-01 04:07] banteg opened #44 "Wrong text encoding"
Password entries are decoded as **latin1** instead of **utf8**. This should be «проверка».

![slice](https://cloud.githubusercontent.com/assets/4562643/23445609/2b76f774-fe6f-11e6-8ea4-3bf854410dbc.png)

[2017-03-01 05:09] mssun commented on #44
Thanks for the report. We will work on this issue.

[2017-03-01 06:57] mssun commented on #44
Fixed. Please try again.

[2017-03-01 07:01] banteg commented on #44
Looks great, thank you!

[2017-03-01 07:01] #44 closed

[2017-03-02 09:51] mssun commented on #21
Now support folders by several commit start from: 050a960167e830192e3457b648b7904c6edc67a7

Since internal core data is changed, note that you have to reinstall the app to erase the data.

[2017-03-02 09:52] mssun commented on #41
Done.

[2017-03-02 09:52] #41 closed

[2017-03-02 09:52] #32 closed

[2017-03-02 09:54] mssun commented on #21
I'm closing this issue. Feel free to open new issues if this function is broken.

[2017-03-02 09:54] #21 closed

[2017-03-02 09:55] chrishawes commented on #21
Amazing! Many thanks :)

I've been meaning to fork your repo and work on improving the setup instructions and perhaps add some in app help documentation.

[2017-03-02 09:58] mssun commented on #21
Thank you, that would be very helpful.

[2017-03-02 10:19] mssun commented on #42
![](https://github.trello.services/images/mini-trello-icon.png) [Github Issues](https://trello.com/c/a37W7mB2/18-github-issues)

[2017-03-03 10:00] yishilin14 commented on #43
Hi. We are now providing a very limited support for Time-based One-time Password Algorithm (TOTP).

We are able to generate one-time passwords for TOTP tokens, if one's encrypted password file contains **all five** related key-value pairs as follows.

[code]

The five lines could be in any order. It is ok if there are other none-related lines. If you use [pass-otp](https://github.com/tadfisher/pas

[2017-03-03 18:42] evanwalsh commented on #43
@yishilin14 Wonderful!

[2017-03-05 01:50] mssun commented on #43
I guess you can update README to include this feature in. That's a very appealing feature.

[2017-03-05 02:14] raxod502 opened #45 "Can't build: 'ObjectiveGit/ObjectiveGit.h' file not found"
I followed the steps in the **Build** section of the README. Upon building the project with Xcode, I get the following errors:

[code]

This seems to be because something is wrong with CocoaPods. In particular, the Internet suggests that a file called `pods.xcconfig` is supposed to be generated (it isn't), and that it can cause problems if it is missing.

I don't really know how to debug this furt

[2017-03-06 02:06] mssun commented on #45
I tried to clone and build the project from scratch, but not reproduced your issue. Can you try to follow the instruction and do it again?

I guess you may forget `pod install`?

[2017-03-06 02:24] jclement opened #46 "Fresh Build. Unsupported URL protocol when connecting via. SSH"
I've done a fresh build.

When I try and connect to by git server via. SSH using either a password or key files I get a "Unsupported URL protocol".  I've tried everything I can think of for the Git Repository URL:

My server name is correct, listening to SSH on port 22, and has a user called "pass" with the password store repo in "pass.git" in the user's home folder.

* server:pass.git (I think th

[2017-03-06 02:31] mssun commented on #46
I haven't try/test the ssh protocol. I guess https should be fine. I will work on this.

[2017-03-06 03:38] raxod502 commented on #45
Thanks. I definitely didn't forget to do `pod install`. In fact, I did a number of `pod`-related commands to uninstall and reinstall things, none of which fixed the issue.

But today I cloned a fresh copy of the project and it built fine. I'm 99% sure this is due to Xcode doing some stupid caching thing, as there were a few settings I had to change last time to fix unrelated build errors (e.g. cha

[2017-03-06 03:38] #45 closed

[2017-03-06 05:44] mssun commented on #46
The valid format should be: ssh://server/pass.git. Username is your username: `pass`. BTW, only SSH Key authentication method can be used for ssh protocol.

[2017-03-06 12:47] jclement commented on #46
You were able to make it work with that? That is one of the patterns I tried, and I just tried it again, and I get the "unsupported URL protocol".

[2017-03-06 13:25] yishilin14 commented on #46
@jclement I am unable to clone using either "git@github.com:myusername/xxxxxxxx.git" or "ssh://git@github.com:myusername/xxxxxxxx.git". Let me see whether I could fix this.

[2017-03-06 13:53] yishilin14 commented on #46
@jclement I am able to clone my Github repository with url "ssh://git@github.com/myusername/myreponame.git" and username "git". I feel that I agree with @mssun about the url and username.

May I know what is the output in your Xcode console? Error messages about the clone process shall be printed there.

[2017-03-06 17:57] yishilin14 commented on #43
HMAC-based one-time password (OTP) is now supported (0dccd91).

We are able to generate a HOTP tokens if the password file contains the following key-value pairs.

[code]

These lines could be in any order. It is ok if there are other none-related lines. If you use pass-otp to insert otp entries, you will get the correct format!

I plan to close this issue now. Although we do need a better UI and

[2017-03-06 21:01] raxod502 opened #49 "Support for longer passcodes"
I always use at least ten digits for my iPhone passcodes. It would be nice to have support for this in Pass for iOS.

Relevant: https://github.com/yankodimitrov/SwiftPasscodeLock/issues/55

(But the issue might be upstream.)

[2017-03-06 23:17] mssun commented on #49
Yes, six-digit passcode needs to custom UI. I think six digits is reasonable. Let me try to implement this. However, providing options to choose from is more flexible.

[2017-03-07 00:41] raxod502 commented on #49
What I was expecting as a user was the same interface as I get when creating my passcode for the iPhone (i.e. it defaults to 4-digit, but you can select an arbitrary-number-of-digit passcode or an alphanumeric one from the same screen). Is there some reason why Apple doesn't expose an API for generating this screen?

[2017-03-07 03:57] mssun commented on #49
Unfortunately, no handful API provided from Apple. Therefore, we have to implement the function by ourselves.

[2017-03-07 22:26] mssun commented on #49
@raxod502 Are you working on this? I saw you fork the repo.

[2017-03-08 00:05] raxod502 commented on #49
@mssun It's one of the issues that I would be interested in finding a solution for. But because I don't have much experience with Swift or Xcode, I'm holding off on working on this in favor of looking at other (simpler) parts.

[2017-03-08 00:08] mssun commented on #49
Sure, thanks for you contributions.

On Tue, Mar 7, 2017 at 4:05 PM, Radon Rosborough <notifications@github.com>
wrote:

[2017-03-09 10:42] Hans-Maulwurf opened #50 "get pgp key to phone without webserver"
hey guys,
i try to test your app and stuck at the part of the pgp key. i dont have a webserver where i can upload my keys. so i wanted to use the ascii format. is there a way how i can get it from my linux system to the iphone? it's not jailbroken. but i dont want to send them by mail to my iphone. i tried to generate a qrcode, but the keys are too big for qrencode. do you have any hints?

[2017-03-09 11:06] yishilin14 commented on #50
Do you trust Dropbox or similar services? You may upload your keys (in the ASCII format) there, and copy them in your phone.

[2017-03-09 12:00] Hans-Maulwurf commented on #50
Used two different services, thanks. Thought there would be another simple and secure way :D thanks

[2017-03-09 12:00] #50 closed

[2017-03-09 14:17] Shinzu opened #51 "Let User choose if gpg files should be armored or in binary format"
Hi,

i had the last days time to test the app.

one of the points that need attention (in my opinion) that the user should be able to choose in which format new created or changed secrets should be stored ... binary or armored.

I always prefer to have my ggp files armored, even if a diff of this is also useless for a human :)

greetings

[2017-03-09 14:23] Shinzu opened #52 "Allow import of public keys from other users"
Hi,

the user should be able to import more than his own public gpg key and also should be able delete public keys from his device.

in a team setup a secret stored in pass is encrypted with more than your own key.

if you change the secret or create a new one , the app should use all the public keys that are configured in this store to encrypt the secret.

as for now the app only encrypt changed/

[2017-03-09 17:50] mssun commented on #52
Hi, I only use pass for personal usage. I'm not familiar with the workflow for a team setup. Could you elaborate more on the workflow (say using the pass command line tool)? Then we can work on supporting team setup. Thanks.

[2017-03-09 17:54] mssun commented on #51
We try to be compatible with the pass command line tool. Does it support armored format for storage? I didn't see this option.

[2017-03-09 20:08] Shinzu commented on #51
You have no setting in pass for it , but it does not change the setting you have in your gpg.conf.

in the lib you are using it is also supported:

https://github.com/krzyzanowskim/ObjectivePGP#encrypt-data-with-previously-loaded-public-key

[code]

[2017-03-09 20:39] Shinzu commented on #52
in the pass cmdline tool you can init a password store(or a subfolder) with mutiple keys:

[code]

these key ids are in a file .gpg-id in the root or subfolder

when you create or update a secret it reads the ids from this file and encrypts/reencrypts the secrets with this key ids

from what i see the lib supports this:
https://github.com/krzyzanowskim/ObjectivePGP/blob/master/ObjectivePGP/Objecti

[2017-03-09 20:48] mssun commented on #52
Thank you. I'm putting this feature in my TODO list.

[2017-03-09 22:15] mssun commented on #50
Hi, you can use iTunes to add keys. This method doesn't require a web service.

For the QR code, we have thought about it. The problem is that one picture may not cover all bytes of a key. It's possible to scan ~3 QR codes to input a key. We are still discussing whether to implement this. Anyways, uploading with iTunes is the safest method for now.

[2017-03-10 21:28] Hans-Maulwurf commented on #50
btw: found this https://github.com/4bitfocus/asc-key-to-qr-code and it only needed 2 qrcodes for my public key.

[2017-03-10 21:29] Hans-Maulwurf opened #54 "Favicon if url is set"
If field "url" contains valid url then the entry should get the favicon of the website.

[2017-03-11 05:21] mssun commented on #54
Yes, only if:
  - the url starts with https (this is a requirement by Apple)
  - favicon can be obtained

[2017-03-11 05:37] mssun commented on #54
This could be improved actually.
  - try to fetch favicon with url content if it is a valid url
  - chante http to https for security

[2017-03-11 23:06] dnesbitt03qub opened #55 "Spelling mistake"
Settings -> General -> Remember P**h**assphrase

[2017-03-12 01:34] mssun commented on #55
Already corrected: 0c9cd85. Thanks for the report.

[2017-03-12 01:34] #55 closed

[2017-03-12 17:25] nielsk opened #56 "Cannot clone repository"
I am trying to clone my repository. It just fails
I tried:
ssh://$domain:/path/to/repo.git
ssh://$domain/path/to/repo.git
$domain:/path/to/repo.git
$domain/path/to/repo.git

I put the username in "username" and added an ssh-key.

Problem 1) The error-message closes itself so fast that I had to make a screenshot to finally see it
Problem 2) The error-message just says that it couldn't clone the rep

[2017-03-12 17:28] mssun commented on #56
Here is an example using ssh. There are several things you have to pay attention:

  - git@gitlab.com:passforios-demo/example.git -> ssh://git@gitlab.com/passforios-demo/example.git
  - remember to put username "git" in the ssh url
  - change ":" to "/"

URL: ssh://git@gitlab.com/passforios-demo/example.git
USERNAME: git
AUTH: SSH Key
  - public key: https://your.domain/passforios-demo-id_rsa.pub

[2017-03-12 17:30] mssun commented on #56
This part is not completed. Thanks for the report.

Here are our plan.
  - using dialog alert instead of HUD to show error message (with informative error message)
  - provide multiples methods to add SSH key

[2017-03-12 18:01] nielsk opened #57 "App crashes when too much data is entered into Additions"
I added the following
User: username
TOTP-rescue-token 1
TOTP-rescue-token 2
…
TOTP-rescue-token 20

When I hit save, the app crashes. Without the 20 tokens it doesn't crash and everything works.

[2017-03-12 18:02] nielsk commented on #56
Thanka, I could clone it now. The surprising part was that I had to put the username into the URL and into username.
You might take this into account as an UX-issue.

[2017-03-12 18:05] mssun commented on #56
This setting is from upstream library. It's really wired. I will figure out
a better UX

On Sun, 12 Mar 2017 at 11:03 AM, Niels Kobschätzki <notifications@github.com>
wrote:

--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2017-03-12 21:36] nielsk opened #58 "Entries cannot be deleted or moved to folders; adding to folders is unintuitive"
There is no way to delete an entry or move it to another folder. When adding an entry you have to call it something like "private/Test" so that the entry gets moved to the private-folder. And this happens only after sync.
Imho this is fine behavior on the cli but in an iOS-app that should be handled differently by letting the user choose folders and even let them create them new ones.

[2017-03-13 00:00] mssun commented on #58
Yes, we definitely plan to have a full functional app. But we are short of hands, some functions are not completed.

[2017-03-13 00:03] mssun commented on #57
This is wired. Do you mean "TOTP-rescue-token: 1" but not "TOTP-rescue-token 1"? Cause the additional fields in "key: value" format are presented in a better UI style.

[2017-03-13 04:31] nielsk commented on #57
I copied and pasted from another app on my iPhone, so it looked like this for the rescue tokens:

aaaa-aaaa
bbbb-bbbb
cccc-cccc
etc.

[2017-03-13 05:38] nielsk opened #59 "Search only works in the current folder"
When you have multiple folders, search only works in the current folder. Thus when I am in the "top folder" I cannot find entries in the subfolders.
Let's say I have the following structure
Password Store
├── private
│   ├── foo
│   ├── bar
├── something
│   ├── foo
│   └── bar
└── work
    ├── pass
    ├── is
    └── cool

And I am on the level of Password store and enter "foo" in the search, I w

[2017-03-13 05:42] yishilin14 commented on #59
Thank you for your comments. We do plan to improve the current search strategy. We will be working on this issue soon.

[2017-03-13 05:47] yishilin14 commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [Searching passwords inside folders](https://trello.com/c/ButcUVs1/23-searching-passwords-inside-folders)

[2017-03-13 06:41] #43 closed

[2017-03-13 14:20] yishilin14 commented on #57
@nielsk I use [this site](http://www.unit-conversion.info/texttools/random-string-generator/) to generate several sets of 50 random strings. And the allowed characters are"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+-=~`". I failed to crash the app.

Do you have some texts that can repeatedly crash the app? Or, do you know which line of code that crashes the app? If y

[2017-03-13 14:34] nielsk commented on #57
*BSD- and Linux-user, so no XCode for me ;)

You copy the strings on iOS into the app? Or do you create the entry on your computer and sync over?

I just did the following:
create new entry
password: something
additions:
jaksdfök
jaksdfö
jkasdöfjö
jasdf
hsdfll
ajsdölkf
ajskdöf
ahdfjk
jsakdf
jaöskd
ajksödf

Save - Crash

ajskdöfj
ajdsköf

[2017-03-13 14:38] nielsk commented on #57
I just tested more and the app crashed already when I entered anything into the additions, the app crashed for me oO

[2017-03-13 14:41] nielsk opened #60 "Entries added in the app won't be deleted, when deleted outside"
Create a new entry in the app and sync to your repo
Now on your computer delete or move the entry, sync again with git
Sync with the app and the entry still exists. In the case of a move to a folder, the entry will also exist in the folder now (so now you have it twice).

But syncing to the repo won't add the local entry again to the repo until you change something in the local entry.

[2017-03-13 14:57] yishilin14 commented on #60
Thanks for your report. It seems like the logic of file organization is not robust. Adding an entry where the "name" contains an non-existing folder name also crashes the app...

[2017-03-13 15:16] yishilin14 commented on #57
The weird thing is that I cannot crash the app in my iOS simulator. But I am able to crash the app in my iPhone...

More experiments
- iOS simulator: Add -> type a name -> paste the texts -> Save -> Everything looks find
- iOS simulator: Add ->paste the texts -> type a name -> Save -> Everything looks find
- iPhone: Add -> paste the texts ->  type a name -> Save -> Everything looks find
- iPhone:

[2017-03-15 16:04] yishilin14 commented on #60
Fixed. The bug is triggered by flawed "git add/commit" implementation.

[2017-03-15 16:04] #60 closed

[2017-03-15 21:16] mssun commented on #54
Fixed by: f573be9

I'm closing this issue. Please reopen if you have any other related questions.

[2017-03-15 21:16] #54 closed

[2017-03-16 06:03] #57 closed

[2017-03-16 06:04] mssun commented on #57
Please try. Thanks.

[2017-03-16 06:12] nielsk commented on #57
I will do so as soon as a new release is issued via TestFlight :)

[2017-03-16 06:13] mssun commented on #46
- set Git repository (URL, username, authentication), note that the valid SSH URL should be `ssh://server:port/url/to/repository.git` (`ssh://github.com:22/mssun/pass.git`) and the username is put in the next field under URL (e.g., git), only SSH key authentication is supported for SSH URL
  - HTTPS URL example:
    - URL: https://gitlab.com/passforios-demo/demo.git
    - Username: passforios-demo

[2017-03-16 06:13] #46 closed

[2017-03-16 06:14] mssun commented on #57
Sure, thanks for your valuable report.

[2017-03-16 06:15] mssun commented on #36
I'm closing this issue. Will consider providing better explanation in UI.

[2017-03-16 06:15] #36 closed

[2017-03-16 06:21] mssun commented on #39
Closing.

Moved to my Trello TODO list.

[2017-03-16 06:21] #39 closed

[2017-03-16 07:29] h12w opened #61 "Crashed when trying to import "gnu-dummy" S2K key pairs"
### Environment

iOS Version: 10.2.1 (14D27)
Pass for iOS: 0.2 (24)

### Steps

1. Export PGP public and private key (4096 RSA key generated by GnuPG) in ASCII-Armor format using the instructions:
[code]

2. Paste the key into the two edit controls of "PGP Key" window

3. Press "Save" in the upper right corner

4. Enter passphrase in the "PassPhrase" dialog, and press "OK", then press "Save"

###

[2017-03-16 08:30] yishilin14 commented on #61
@h12w Thank you for your report. I will use a 4096 RSA key to test later.

[2017-03-16 09:00] h12w commented on #61
It may not related to 4096 bit RSA key. One of my colleague also uses 4096 key but succeeded.

[2017-03-16 09:18] yishilin14 commented on #61
I see, thanks. We are polishing the codes now. Sometime the app crashes because of some other (non-obvious) reasons.

I have some questions.
- Are you able to crash the app every time you save your keys (e.g., after reinstalling the app)?
- Would you please take a look at your pasted keys and see whether they look normal? Just in case the whatever method helping you get your keys to your phone cha

[2017-03-16 10:13] h12w commented on #61
* It crashes every time I save my keys, even if I reinstalled the app.
* My keys look normal, like below:

[code]

and

[code]

[2017-03-16 11:40] yishilin14 commented on #61
Thank you so much. Let me try to work around this issue, at least provide some readable "error messages".

[2017-03-17 16:41] mssun commented on #61
I'm closing this issue. Should be fixed in the recent commits: d338e725d5107774165ad71e4c799b809c18c97b

I plan release a new version this weekend. Thanks.

[2017-03-18 00:34] dnesbitt03qub opened #62 "Crash on Commit Logs tap"
Going into General -> About Repository-> Commit Logs crashes when no repo has been loaded.

[2017-03-18 00:36] mssun commented on #62
Thanks. Will fix it soon.

[2017-03-18 04:12] nielsk commented on #60
works for me now as well

[2017-03-18 04:14] nielsk commented on #57
It still crashes for me when I create a new entry and enter anything into the additions in 0.2.1

[2017-03-18 04:16] nielsk commented on #60
Oops, sorry - it doesn't work for me in 0.2.1
The entries still exist after a sync and they are not in my repo anymore at that position

[2017-03-18 04:30] nielsk commented on #60
Beware: when you created before this bug was fixed an entry and moved it on another computer via git mv; and do now a git pull on the other computer the entry will be deleted.
You have to edit the entry on the iOS-client and sync. Then sync on the computer. Then it gets pulled again. Then move it (pass mv bar foo/bar), sync again and then sync the iOS-client. Then the entry will be at the correct

[2017-03-18 04:33] nielsk opened #63 "Integrate it better into iOS"
With other password-managers like 1Password or Enpass for example, I have in some apps the possibility to directly get my password. I guess they all use some way so that apps that integrate the [1Password App Extension](https://github.com/AgileBits/onepassword-app-extension) can speak with them as well

[2017-03-18 04:34] nielsk commented on #63
Here is an explanation on stack overflow how to do this:
http://stackoverflow.com/questions/38819916/how-to-make-a-compatible-password-extension

[2017-03-18 05:00] yishilin14 commented on #60
I am so sorry for the inconvenience.

We are trying our best to polish the logic, and we are short of hands now. To avoid similar problems, we suggest that you make sure that your repo looks like what you want at any time. For example, by syncing your updates timely. In case you feel that some bugs will probably mess up your repo, you may erase everything and clone a clean repo again.

Thank you s

[2017-03-18 05:17] h12w commented on #61
I have tested against the new version, a similar crash problem still exists. Here is the report:

### Env

iOS Version: 10.2.1 (14D27)
Pass for iOS: 0.2.1 (1)

### Steps

same as above

### Expected Result

The PGP key is saved

### Got Result

The app crashed, and the app **crashes every time I click on the app icon ever since**.

### Crash Log

[pass_ios_crash_log_0.2.1_1.txt](https://github.com

[2017-03-18 07:35] mssun commented on #61
I couldn't debug the crash without your keys.

Can you generate a test key pair and paste them here?

[2017-03-18 11:33] h12w commented on #61
I generated a new pair of keys that can crash the app:

[testpassios.prv.txt](https://github.com/mssun/passforios/files/852353/testpassios.prv.txt)
[testpassios.pub.txt](https://github.com/mssun/passforios/files/852354/testpassios.pub.txt)

And here is my way to generate them: [Password Management](http://h12.me/article/password-management), following the steps in section "Preparing PGP Keys", "Ba

[2017-03-18 16:48] mssun commented on #61
Thank you. Now, I can reproduce the bug. Could be caused by a bug in an upstream library. I'm debugging it.

[2017-03-19 17:31] mssun commented on #61
Hi, I did some research these days.

The problem is caused by the "Hide PGP Master Private Key" step. This step will generate a "gnu-dummy S2K" which is new and not supported by our upstream library (ObjectivePGP). I have reported the issue in https://github.com/krzyzanowskim/ObjectivePGP/issues/53.

For now, if you want to use the app, please do not hide PGP master private key. Thanks.

[2017-03-19 17:37] mssun commented on #62
Fixed.

[2017-03-19 17:37] #62 closed

[2017-03-19 21:55] llann opened #64 "Error : The file couldn't be saved using the specified text encoding"
Hi,

When I added my PGP-secretkey (private and public one), I then write my password and then "save" and when I get back to the "Settings" and get this error message

"Error : The file couldn't  be saved using the specified text encoding".

[2017-03-19 21:57] mssun commented on #64
HI IIann, are you using ascii-armered key? For this case, you should check if all character is ascii.

[2017-03-19 22:02] mssun commented on #63
Thanks Niel. There is one consideration we are still debating. Currently, we didn't store decrypted passwords. All passwords is decrypted at runtime. However, without storing the decrypted password, we cannot get meta data such as URL. Therefore, providing an app extension/safari extension could be a problem.

[2017-03-19 22:06] nielsk commented on #63
The advantage would be at least that it could react on the password-button some apps have on iOS which opens a sheet which lets me choose my password manager. And then I could open from there Pass, search my password (you could try to suggest entries that would fit by name with a fuzzy search). And then let me copy the password and return to the app after copying the password.

[2017-03-19 22:09] mssun commented on #63
Sounds good. Let me try it later.

[2017-03-21 00:20] mssun commented on #64
@llann Any update? Is everything OK right now?

[2017-03-21 02:24] yishilin14 opened #65 "Support OTP tokens in the standard Key Uri Format"
Support entries inserted via [pass-otp](https://github.com/tadfisher/pass-otp) v1.0.0 : OTP tokens in the standard Key Uri Format

[2017-03-21 03:49] mssun commented on #61
@h12w Have you tried my solution? Any update? Thanks.

This is an upstream issue, I tried my best to ping the author of ObjectivePGP for fixing. Thanks for your patience.

[2017-03-21 07:13] h12w opened #66 "Cannot import key before repository is set"
If you try to import key before the repository is set, then an error message "cannot import key" is shown.

[2017-03-21 07:16] h12w commented on #61
Thanks. It works after I restore my local key pairs without hiding the master key and do the import again. I will submit reports if I encounter any other issues.

[2017-03-21 20:36] mssun commented on #58
Support deleting a password: c21502a10f931bbe096a0bfbde8d684413f3c93f

[2017-03-21 21:12] mssun commented on #66
Sorry, I cannot re-produce your issue. I can add PGP key before setting repository. Could you provide more details?

[2017-03-23 03:15] mssun commented on #66
Any update? @h12w

[2017-03-23 05:16] h12w commented on #66
OK, then let's just close it for now. It is a minor issue anyway.

[2017-03-23 05:16] #66 closed

[2017-03-24 02:41] mssun commented on #51
Support in 0507c7c. Thanks for your suggestion.

I'm closing this issue. If you have new issue regarding to this feature, please consider to open a new one. Thanks.

[2017-03-24 02:41] #51 closed

[2017-03-24 02:42] mssun commented on #64
I'm closing this issue. Feel free to reopen it if you have further information. Thanks.

[2017-03-24 02:45] mssun commented on #49
Hi, I saw you try to change to ten passcode. Is everything OK? I thought the passcode lock UI only support four digits. For more digits, I guess you should customize the lock UI.

[2017-03-24 02:48] mssun commented on #56
Since we have a better document now, it will not be that confusing. We may consider to improve UI in later version. I'm closing this issue right now.

[2017-03-24 02:48] #56 closed

[2017-03-24 02:55] raxod502 commented on #49
@mssun Although the UI doesn't look right, it works just fine with 10 digits. (There are four dots, but it still waits for six more digits after those dots become filled in.)

[2017-03-24 02:59] mssun commented on #49
How about I closing this issue right now? Maybe in the next release, we may seek methods to customize the UI for better experience.

[2017-03-24 03:00] raxod502 commented on #49
If you'd like "open" to mean "is a current goal" in this issue tracker, then that sounds perfectly reasonable.

[2017-03-24 09:10] llann commented on #64
Sorry for the late answer.

Yes it's an ascii-armored key.

[2017-03-25 04:15] yishilin14 commented on #65
Supported in f5875c5.

[2017-03-25 04:15] #65 closed

[2017-03-26 08:31] nielsk commented on #58
Deletion works now. Didn't check yet completely on a computer though if it is really gone.

[2017-03-26 08:32] nielsk commented on #57
Seems to be working now in 0.2.2 😺

[2017-03-27 11:07] yishilin14 opened #67 "The list of password does get re-drawed properly (after deletion)"
Reproduce
- Add some passwords in PC + push
- Sync Pass for iOS (looks fine)
- Delete new passwords from PC + push
- Sync Pass for iOS (there are some "shadows" about the deleted entries, not refreshed properly)

[2017-03-27 21:42] samdmarshall opened #68 "consolidate dependency managers"
Hi, could you please consider consolidating the number of dependency managers used for this project? Switching to only using CocoaPods or Carthage would be much preferred over using them both together. If build-time is an issue here, you could consider using [this](https://github.com/CocoaPods/Rome) plugin to CocoaPods to help make this work a bit more like Carthage.

[2017-03-27 21:46] mssun commented on #68
Very good suggestion. The only thing troubles me is that ObjectivePGP doesn't support Carthage. If possible, could you help ObjectivePGP to compile a framework for Carthage release? https://github.com/krzyzanowskim/ObjectivePGP/issues/47

[2017-03-27 22:15] seanfarley commented on #63
Couldn't you do the same thing as [browserpass](https://github.com/dannyvankooten/browserpass)? Check the names of the file (e.g. `.password-store/foo.com.pgp`)? Of course, that would only work for one meta field, namely, the URL.

[2017-03-27 22:17] mssun commented on #63
Yes, we are working on this direction. Thanks for your suggestion.

On Mon, Mar 27, 2017 at 3:15 PM, Sean Farley <notifications@github.com>
wrote:

[2017-03-28 17:08] yishilin14 commented on #67
Fix in 66688b5f6620cdb34e4af4fe92770baeb5bebe45

[2017-03-28 17:08] #67 closed

[2017-03-28 17:27] yishilin14 commented on #64
Hi @llann . Without more information to reproduce, it is not possible for us to debug.

I agree with mssun. My guessing is that the reason for you to see this message is **non-ascii characters** that you put there. It is possible that the way you got your keys from your PC to your phone changed the encoding (e.g., "--" to "—" in my experience).

Example of "bad encoding"
- If you type non-ascii ch

[2017-03-30 21:56] samdmarshall commented on #68
As mentioned, the project could be switched to use cocoapods plugin "rome" instead of carthage, especially as that requires no additional work by third parties to make this change.

[2017-03-31 00:38] mssun commented on #68
I tried cocoapods-rome, but got an error:

[code]

My pod file is

[code]

Do you know how to workaround this?

[2017-03-31 04:40] craigcabrey opened #69 "Allow pasting in ssh key pair"
Current solution to importing an ssh key pair for use is through HTTP. This is quite awkward and would be easier just to allow users to paste in the public and private key.

[2017-04-02 18:28] mssun commented on #69
Done in commit: 97d66a8

Please kindly test and report related issues. Thank you.

[2017-04-03 17:20] yishilin14 commented on #64
Feel free to reopen it if you have further suggestions. Thanks.

[2017-04-03 17:20] #64 closed

[2017-04-03 17:22] mssun commented on #69
I'm closing this issue. Thanks.

[2017-04-03 17:22] #69 closed

[2017-04-04 18:39] samdmarshall commented on #68
Not that I'm aware of, I believe you will have this problem regardless of dependency management solution. The correct thing to do here is to get ObjectivePGP to not rely on OpenSSL on iOS (instead use the Security and CommonCrypto frameworks that Apple provides).

[2017-04-04 22:09] steffen9000 opened #70 "Crashes on iOS 10.3.1"
Hi,

thanks for your great work on Pass for iOS.

I noticed a problem with the application on my iPhone 6 that was recently updated to iOS 10.3.1. After cloning my Pass data through SSH, the application instantly crashes and fails to start again unless deleted. I'm using password-based authentication for SSH and a self hosted, bare git repository (which was worked fine before).

I'm also using the

[2017-04-04 22:21] mssun commented on #70
I need to reproduce this crash later today. Thanks for your report.

In the meantime, I want to know if other authentication methods have the same issue.

From my side, https/password combination works well.

[2017-04-05 05:53] mssun commented on #59
Support in the commit: 7a3000f

Now you can search in entries in the current folder or all entries.

[2017-04-05 16:58] mssun commented on #70
I tried from a new installation.

My repo is self hosted and bare git repo. I can clone the repo on the app by SSH and password methods.

Could you try it from a new installation? Sometimes, a TestFlight update will break internal data structure. You can try to Discard All Password Store Data in Advanced setting page.

[2017-04-10 01:24] mssun commented on #59
Merge to the master branch and will be release in the TestFlight.

[2017-04-10 01:24] #59 closed

[2017-04-12 16:59] vonProteus commented on #70
have same problem
i use self hosted repo via ssh and rsa key (4096b)
i tried 2 times, removed app between attempts

[pass-2017-04-12-184248.ips.beta.txt](https://github.com/mssun/passforios/files/917294/pass-2017-04-12-184248.ips.beta.txt)
[pass-2017-04-12-184252.ips.beta.txt](https://github.com/mssun/passforios/files/917295/pass-2017-04-12-184252.ips.beta.txt)

hope it helps

[2017-04-12 20:00] steffen9000 commented on #70
Authenticating via SSH key produces the same problem for me. I also tried:

- deleting  the app and reinstalling through Testflight
- Discarding all Password Store data

Without success :(

[2017-04-12 20:37] mssun commented on #70
@vonProteus @steffen9000 This is strange. Can you detail the format of your input git repo URL?

I use ssh://username@server/directory-to-repo/repo.git to test my bare repo. It works under both password and SSH key authentication methods.

I need to reproduce and investigate this issue.

[2017-04-12 21:30] steffen9000 commented on #70
My repo url is ssh://user@subdomain.domain:port/path/to/pass.git. I'm also using a rather long password (20+ chars).

My iPad on iOS 10.3 is fine though, everything works as expected. I'm hesitant to update to iOS 10.3.1 (because Pass might stop working :) ), but I guess I'll do it for science and report back.

[2017-04-12 22:19] mssun commented on #70
@steffen9000 Are you using mater branch (origin/master)?

[2017-04-13 14:43] vonProteus commented on #70
i use
ssh://git@gogs.server.name/vonProteus/passwords.git
and my password branch is called master

[2017-04-13 20:18] steffen9000 commented on #70
Yes, my password branch is origin/master as well.

[2017-04-15 01:53] nnutter commented on #70
I just got invited to Pass for iOS today and believe I am affected by this issue as well.  I am on iOS 10.3.1, I am using a private GitHub repo with a 4096-bit key, not password, with default branch being `origin/master`.

When this issue occurs for me Pass for iOS will immediately crash if I force quit and relaunch.  If I reboot and launch it seems to just display a black screen.  Only option is

[2017-04-15 02:10] mssun commented on #70
I am solving this issue recently. I still cannot reproduce the issue on my
phone. Don't know why. I even asked a reporter for an account, but still
can clone the repo.

Now I'm am thinking there may be a problem with the released built.

If you have ability to built yourself, please do so. Then, report the crash
log here. Many thanks.

On Apr 14, 2017 6:54 PM, "Nathaniel Nutter" <notifications@git

[2017-04-18 04:52] seanc opened #71 "Small spelling mistake after importing PGP key "Rememver to Remove the Key""

[2017-04-18 19:17] terpmeister opened #72 "Folder bug?"
When I try to create a new entry like: `test/joe@xyz.com` I always get back the error: `Cannot Add Password. Illegal character.`.  Does passforios support creating folders?  Also I tried to create a new entry in an existing folder, same error.

[2017-04-18 19:44] terpmeister opened #73 "Syncing not working correctly when moving under a folder"
Been doing some testing, changed some passwords on my local workstation by moving some of them under a folder. Committed to gitlab (using ssh keys).  Did a resync on my iPhone, no changes.  When I look under `Settings -> General -> About Repositry -> Commit Logs` I can see the app knows about my changes (I see all my check ins), but nothing is changed in the app.  Have exited/entered the app multi

[2017-04-18 20:46] mssun commented on #72
Sorry. Creating folder or creating entry inside folder are not supported. I'm working on it.

[2017-04-23 17:41] mssun commented on #72
Support folder operations  in commit: d8ecd1e889bf5b3b268403d65254b13f0ff83b9e

[2017-04-23 17:41] mssun commented on #58
Support folder operations  in commit: d8ecd1e889bf5b3b268403d65254b13f0ff83b9e

Please try, thanks.

[2017-04-24 03:22] #71 closed

[2017-04-24 04:28] mssun commented on #73
Fixed in commit: 1b68c6f

Please test, thanks.

[2017-04-25 19:35] raxod502 opened #74 "Passforios no longer requiring PGP passphrase"
I have "Remember Passphrase" disabled in the settings. However, after I applied d8ecd1e889bf5b3b268403d65254b13f0ff83b9e to my local build (I bisected), passforios no longer prompts me for my PGP passphrase when decrypting a password. Alarmingly, it just decrypts it straight away! passforios is not secretly caching my passphrase, is it?

[2017-04-25 19:50] mssun commented on #74
Should be a bug of passphrase logic. Please stay on the stable branch.

[2017-04-25 20:16] raxod502 commented on #74
Will do. Thanks.

[2017-04-25 22:30] tuphamnguyen opened #75 "Cannot clone GitLab repostiory"
I'm using the version from TestFlight.
Getting the error "Failure to clone repository from ssh://gitlab.com:22/*******/*****.git to file ......

[2017-04-25 22:53] mssun commented on #75
### SSH URL example
- Git repository URL: `ssh://git@gitlab.com/passforios-demo/demo.git` (original is `git@gitlab.com:passforios-demo/demo.git`)
  - remember to include username in the url
  - remember to change ":" to "/"
- Username: `git`
- Supported authentication Method: SSH Keys, Password (only for self-built Git server, but note that GitHub, GitLab, etc. don't support password authenticatio

[2017-04-26 02:28] tuphamnguyen commented on #75
My mistake, I didn't notice the username must also be included in the URL. Thank you for your help.

[2017-04-26 02:28] #75 closed

[2017-04-26 03:00] yishilin14 commented on #75
Adding the link to wiki page to the "repo setting" tab seems necessary. Just my two cents.

[2017-04-26 03:16] mssun commented on #74
Thanks for the report. Fixed in d6c7b67fcc313642e0115193e41a2f0fb2fbce24

[2017-04-26 03:27] raxod502 commented on #74
Thanks. However, the old passphrase is still cached in the keychain. How can I delete it? I tried uninstalling and reinstalling the app, but this did not seem to do it.

[2017-04-26 03:29] mssun commented on #74
@raxod502 You can go to Settings and switch on then off the "Remember Passphrase" option.

[2017-04-26 03:34] raxod502 commented on #74
It works perfectly, thanks. Perhaps the passphrase should be deleted when the user tries to access a password, if they have "Remember Passphrase" turned off. As it is, if the passphrase somehow gets saved to the keychain while "Remember Passphrase" is off, the effect of "Remember Passphrase" is nullified until it is turned on and off again.

[2017-04-26 03:34] #74 closed

[2017-04-30 21:30] mssun commented on #72
Folder operation functions are merged into master branch. A new version is also released via TestFlight. I'm closing this issue. Feel free to open a new if you meet related issues. Thanks.

- You can create an entry. E.g., `dir/password`.
- You can change folder name. E.g., `dir1/password` to `dir2/password`
- You can also delete folders. E.g., `dir1/dir2/password` to `dir1/password`

[2017-04-30 21:30] #72 closed

[2017-04-30 21:31] mssun commented on #58
Folder operation functions are merged into master branch. A new version is also released via TestFlight. I'm closing this issue. Feel free to open a new if you meet related issues. Thanks.

- You can create an entry. E.g., `dir/password`.
- You can change folder name. E.g., `dir1/password` to `dir2/password`
- You can also delete folders. E.g., `dir1/dir2/password` to `dir1/password`

[2017-04-30 21:31] #58 closed

[2017-04-30 21:32] mssun commented on #73
Merged in to master and released in the TestFlight. I'm closing this issue. Feel free to reopen it if you meet the issue again.

[2017-04-30 21:32] #73 closed

[2017-05-01 15:09] terpmeister commented on #72
Thanks, so far everything is working good!  Thanks for adding the functionality.

[2017-05-03 00:31] nnutter commented on #70
Just wanted to share that the latest build on Test Flight (second build today) still crashes for me.

[2017-05-03 02:36] mssun commented on #70
@nnutter Still cannot reproduce this issue. Can you provide some information?k Thanks.

[2017-05-03 07:06] vonProteus commented on #70
i think this bug is fixed in 0.2.5 (21) at least for me

[2017-05-04 07:15] magullo opened #76 "Passphrase always remembered"
Hi, I just upgraded to version 21 and the app doesn't ask the gnupg passphrase anymore, even if the option is OFF.

[2017-05-04 07:32] yishilin14 commented on #76
Hi. I just switched off the "Remember Passphrase" option, and the app started to ask for the passphrase. By switching off that option, the app shall remove the remembered passphrase.

Would you please turn that option on, then turn it off, and see what happens?

[2017-05-04 07:35] yishilin14 commented on #76
BTW, I found out that the "long-press to decrypt" feature does not work without remembering the gpg passphrase. Will fix that soon.

[2017-05-04 07:38] magullo commented on #76
I can confirm that switching ON and OFF it works again.
Thank you very much!

[2017-05-04 07:40] yishilin14 commented on #76
We recently polished the related codes and changed the logic. I guess that's the reason behind.

[2017-05-04 07:55] #76 closed

[2017-05-04 22:18] steffen9000 commented on #70
The bug is still present on the latest TestFlight build. I restored my phone through iTunes today and the very first thing I did was to install Pass via TestFlight - I get the exact same crash.

I'll build my own version this weekend and hopefully send you some interesting crash reports. I *want* this bug report to be closed so you can release your great app to the App Store and fix the password m

[2017-05-09 02:16] mssun commented on #70
@steffen9000 Any update? From the crash reports, I can see that those crashes are caused by ObjectiveGit. However, I don't know what kinds of input will trigger the crashes.

[2017-05-10 21:09] rejon opened #77 "add submodule support"
I have my personal passwords and then want to store my project password in a separate folder for access control issues.

Can your software just do the next step to do:

git submodule init
git submodule update

?

Thanks
Jon

[2017-05-11 03:07] mssun commented on #77
Hi Jon, thanks for the suggestion. I understand your idea, but we should support multiple keys in the first place. Since submodule may have different keys, we should provide matching keys for encryption/decryption.

[2017-05-11 03:50] mssun commented on #70
I add a check before the crash point, just a temporary work around.

Actually, this bug is caused by our upstream library, ObjectiveGit. I wish I could help to fix it but I can't reproduce the crash.

If you guys can give me an temporary test account, I would really appreciate.

[2017-05-11 05:10] rejon commented on #77
yeah you mean first?

[2017-05-11 05:21] mssun commented on #77
Yes, we will figure how to support multiple pairs of keys first.

[2017-05-11 05:26] rejon commented on #77
ok makes sense,  but for default, if no key in the submodule root dir then should default to the gpg key in the directory above, correct?

[2017-05-11 05:41] yishilin14 commented on #77
I guess we should find `.gpg-id` in the following order: current dir, parent dir ,..., root. And use the first `.gpg-id` found. Correct?

We will play around `git submodule` in Pass (command line) first, and then implement it in Pass for iOS.

[2017-05-11 06:03] rejon commented on #77
sounds like a plan

[2017-05-11 09:54] yishilin14 commented on #77
It seems like we could solve issue #52 together with this one.

- Both features require importing multiple keys (especially multiple public keys).
- Both features require encrypting files using public keys indicated in the "nearest" `.gpg-id` config.

Just my two cents.

[2017-05-11 11:38] steffen9000 commented on #70
The latest TestFlight build **works** on my iPhone again 😊

[2017-05-11 11:42] yishilin14 commented on #70
Happy to hear this! I am closing this issue now. Thank you for your patience. :-)

[2017-05-11 11:42] #70 closed

[2017-05-11 13:58] nnutter commented on #70
It's working for me as well.  I look forward to being able to use Pass for iOS!  Thanks!

[2017-05-14 03:10] raxod502 opened #78 "Crashes on launch, can't find crash logs"
When I run passforios from Xcode on my iPhone, it works fine. It continues to work for a while after that. Unfortunately, a while later, it inevitably stops working, and instead crashes instantly on launch (until I run it again from Xcode). I can't find any crash logs in `~/Library/Logs/CrashReporter/MobileDevice`—is there any way I can debug this problem?

[2017-05-15 11:27] akiroz opened #79 "App crashes when trying to open Settings > Password Repository"
Disclaimer: I know nothing about iOS development / Swift so I'll try to provide as much info as possible...

iOS version: 10.3
XCode version: 8.3.2

What I did:

- follow install steps on README
- create Apple provision profile using my Apple ID
- change bundle name from `me.mssun.passforios` to `akiroz.mssun.passforios` (error on something about unique string... ?_?)
- set destination to my iPhon

[2017-05-15 11:45] yishilin14 commented on #79
Hi. We have fixed the bug of "authenticationMethod!" in the develop branch, please try the develop branch.

About the "unique string" error, it seems like you have successfully built the app, so I guess the error/warning went away when you built the app. (FYI. Here is what I usually do: Check "Automatically manage signing", change team to my personal team, change the bundle identifier to a differe

[2017-05-15 11:52] akiroz commented on #79
Awesome, thanks!

=== OFF TOPIC ===
@yishilin14
wow, apparently we study in the same place (I'm an undergrad student though)
nice dango = ]

[2017-05-15 12:06] yishilin14 commented on #79
I am closing this issues. Happy testing!

=== OFF TOPIC TOO ===
Wow. That's amazing.

[2017-05-15 12:06] #79 closed

[2017-05-15 12:28] akiroz opened #80 "Cannot clone ssh with name starting with a dot"
I got the popup message:
[code]
Any idea how to find out what went wrong?

I'm using SSH key files generated from `ssh-keygen` from the `Download from URL` option.

[2017-05-15 12:44] yishilin14 commented on #80
Please double check our [SSH URL example](https://github.com/mssun/passforios/wiki#ssh-url-example).

I read your message, is it possible that you typed an extra "." before `password-store.git?`

[2017-05-15 12:53] akiroz commented on #80
Oh didn't notice the wiki.

but still no luck after changing the URL to `ssh://git@_______/akiroz/.password-store.git`.
The leading `.` in the repo name is not a mistake, my local folder password store is a hidden folder.

[2017-05-15 13:07] akiroz commented on #80
@yishilin14
I managed to clone my repo after renaming my repo to `pass-test` (doesn't contain a leading `.`)
There might be a bug somewhere.....

[2017-05-15 13:09] yishilin14 commented on #80
That's interesting. I just created an empty repo with the leading `.`, and I was able to clone it.

I will rename my testing password-store repo and do more testing.

[2017-05-15 13:15] akiroz opened #81 "[wiki] don't transfer GPG keys over the internet"
I think it would be safer to transfer GPG keys on a local network in the guide:
[code]
![photo6111500877958326200](https://cloud.githubusercontent.com/assets/8231917/26059244/a4393148-39b3-11e7-8ad8-900e6508a984.jpg)

[2017-05-15 13:15] yishilin14 commented on #80
@akiroz I just did some testing.
- Authentication Method: Password + Clone a repo with name starting with a `.` --> OK
- Authentication Method: SSH Keys + Clone a repo with name starting with a `.` --> Failed

[2017-05-15 17:46] mssun commented on #79
Thanks all.

I think it’s time to merge develop into master branch. Will work on it later today.

[2017-05-15 17:49] mssun commented on #81
This is a good suggestion. However, the local network may still not safe.

I think it's better to *alert* users that downloading keys via url is dangerous whether it is in the local network or internet.

[2017-05-15 17:52] akiroz commented on #81
Yep, I actually created a new temporary network with a spare router to transfer my keys :P

[2017-05-15 17:52] mssun commented on #78
Are you using master or develop branch?

Actually, if you are using TestFlight. The crash log will be sent to me. But I don't know how to find log locally. It should be stored in a file on the device.

[2017-05-15 17:56] mssun commented on #81
You should later try our developing new feature to import keys by a gif picture. It's really fast.

[2017-05-15 17:56] akiroz commented on #81
Wow, how does that work?

[2017-05-15 17:59] mssun commented on #81
We can convert keys to several QR codes (since there is a limitation of the content size) and then animate them to a gif. By scanning the animated gif, we can quickly get the key information.

[2017-05-15 18:03] akiroz commented on #81
Sounds awesome! Is this going to become a generic tool to transfer sensitive data? Transferring keys and certs between devices has always been a pain for me...

[2017-05-15 18:03] raxod502 commented on #78
@mssun I'm on develop now, but I believe this was also a problem back when I was on master. I can double-check if you'd like. I'm not using TestFlight currently, but would be happy to if it helps debugging. My email address is radon.neon@gmail.com.

[2017-05-15 18:07] mssun commented on #78
Done. I will leave this issue open for now.

[2017-05-15 18:22] mssun commented on #81
Absolutely, especially for small size of data, e.g., key sharing, password sharing. Let us see then.

[2017-05-15 18:22] raxod502 commented on #78
I've switched to the TestFlight version, and will update this issue if I encounter the crash again. (Based on prior experience, this will probably happen after a few days if the issue remains.)

[2017-05-15 18:26] mssun commented on #78
Sure, thanks. We aim for an enough stable version right now for the first App Store release.

[2017-05-15 18:43] raxod502 opened #82 "Document using iTunes File Sharing for SSH keys"
From looking at the commit history, it seems like you can use iTunes to upload not only PGP keys but also SSH keys. Is this the case? If so, it should probably be documented.

[2017-05-19 22:52] nnutter opened #83 "Search should match on directory/pass"
The request here is different from #59.  Given a password store with contents,

[code]

I would want to search for "Dir_A" and still see "File_A" as a match.

[2017-05-19 23:48] yishilin14 commented on #83
If you switch on "General -> Show Folder" and search for "Dir_A", you will be able to see "File_A" as a match. Otherwise, we do not support this kind of search now.

But your suggestion sounds reasonable, we will work it. Thanks.

[2017-05-23 03:34] raxod502 commented on #78
I have not experienced any crashes since. This leads me to believe that something about my manual installation of the app was incorrect. I'll close this issue for now, unless you'd like to keep it open.

[2017-05-23 03:34] #78 closed

[2017-05-23 17:48] mssun commented on #61
@h12w The crash has been fixed in ObjectivePGP. Can you try again in the latest TestFlight release or master branch.

[2017-05-25 08:23] asymmetric opened #84 "Cannot change password length on Keychain style"
When trying to create a new password, and the Password Generator Flavor is "Apple", the slider for the password length is greyed out, and stuck at 15.

iOS 10.3.2
TestPilot version

[2017-05-25 08:24] asymmetric commented on #80
Still, I agree with the title of this issue, it would be nice to have some debug logs when cloning fails.

[2017-05-25 08:39] yishilin14 commented on #84
We use [kishikawakatsumi/KeychainAccess](https://github.com/kishikawakatsumi/KeychainAccess) to generate passwords with the "Apple's Keychain Style". It generates random password that is in the same format used by [Safari AutoFill](https://support.apple.com/kb/PH21470?locale=zh_HK&viewlocale=en_US) (e.g., `xxx-xxx-xxx-xxx`). That's why the length is fixed. I am considering hiding the length settin

[2017-05-25 08:39] asymmetric commented on #84
Yes, it would be more intuitive as a user if the slider was hidden altogether.

[2017-05-25 08:41] yishilin14 commented on #84
Will fix this soon. Thanks. :-)

[2017-05-25 08:43] asymmetric opened #85 "Support pass phrases"
It would be great if this app could generate passphrases, like [correct horse battery staple](https://xkcd.com/936/).

1Password does this already, allowing the user to choose the separator too.

Of course you would need a dictionary for this.

[2017-05-25 08:45] asymmetric opened #86 "Increase max password length"
The current maximum is 24, which I find a bit too low, since I don't have to remember the password anyway.

As a reference, on 1Password for iOS it goes up to 64.

[2017-05-25 09:08] yishilin14 commented on #86
I did set max=64 in an earlier version (07782bd66283dd5542ede135ebe69acc51362c7f). However, setting max=64 makes the slider more difficult to use because there are too many values.

Personally, I don't need a password with length >=20.. I don't think increasing my password length to >=20 will provide much more security. Also, I don't use very long password in case I have to enter some of my passwo

[2017-05-25 09:11] yishilin14 commented on #86
To be honest, I don't know what would be a proper maximum length.

[2017-05-25 09:12] asymmetric commented on #86
The slider on 1Password on iOS works perfectly, that's why I mentioned it.

[2017-05-25 09:16] yishilin14 commented on #86
On LastPass for iOS it goes up to 64 too...

@mssun What about switching it back to 64? It is a "round number" in binary, and it just feels right.

[2017-05-25 09:20] yishilin14 commented on #85
Sounds interesting. I do need some passwords like this.

[2017-05-25 16:39] yishilin14 commented on #84
Fixed in the develop branch.

[2017-05-25 16:39] #84 closed

[2017-05-25 16:43] yishilin14 commented on #61
@mssun It seems like the pair of keys provided by @h12w still crash the app.

[2017-05-25 17:07] asymmetric opened #87 "Hide TouchID option on devices that don't support it"
Running the app on an iPod Touch 6th gen., that doesn't support TouchID.

The option should be hidden IMHO, since it has basically no effect.

[2017-05-26 06:51] supermarin commented on #56
Same issue here, tried at least 20 times. Did not look obvious that the username should be "git" instead of my own username

[2017-05-26 16:42] mssun commented on #87
Support in commit: 3921b89a120fefbc6dcbead3361a7185fdc6f46b

[2017-05-26 21:43] mssun commented on #56
@supermarin Yes, people always think GitHub's username should be SSH's username, but it turns out Github uses "git" as the username. Maybe, it's better to have a hint for users. I am still thinking how to make it clear and intuitive.

[2017-05-26 21:45] mssun commented on #87
I'm closing issue. It will be released in TestFlight and merged into master branch soon.

[2017-05-26 21:45] #87 closed

[2017-05-27 02:31] mssun commented on #86
Done. 70a41f64381a23f9bbeb1294f055a4c3edc7a011

Now, for random password, min = 4, max = 64.

[2017-05-27 02:31] #86 closed

[2017-05-27 04:15] mssun commented on #61
Should be ok this time. Please try. @yishilin14

[2017-05-27 17:47] llann opened #88 "Clone more than one repository"
I use many repo (job, personal) and it would be cool to have them available on the same app. Like you can do it for example on QtPass.

What do you think?

[2017-05-30 07:05] mssun commented on #88
Thanks for your suggestion.

Yes, we are thinking about multiple repos and multiple keys. Stay tuned.

[2017-05-30 07:06] mssun commented on #82
This part needs to be polished. I'm not sure if SSH keys are supported by uploading via iTunes.

[2017-05-30 18:48] akiroz opened #89 "Allow PGP key export"
Just thought this would be a nice feature to have in case my laptop blew up (or got stolen) since I don't backup my private key to the cloud.

[2017-05-31 06:07] yishilin14 commented on #89
Hi. We are not going to add this feature into our app because Pass for iOS is a password manager and we only want to add features that are related to password management. If you want to backup your keys, I think you may need some other reliable methods. Hope you understand. :-)

[2017-05-31 06:07] #89 closed

[2017-05-31 06:14] yishilin14 commented on #81
The master branch now supports adding PGP keys by scanning armored keys embedded in QR codes. We will also support adding SSH keys in the same way soon.

As mentioned by @mssun, the local network may still not safe. We do hope that adding keys by scanning QR codes is both convenient and safe. I am closing this discussion for now, stay tuned for our updates.

[2017-05-31 06:14] #81 closed

[2017-05-31 06:27] yishilin14 commented on #61
Fixed in TestFlight release 0.2.6 (32).

[2017-05-31 06:27] #61 closed

[2017-06-05 00:43] angus-g opened #90 "Unable to pull git changes"
I'm using a self-hosted git server (SSH key authentication), from which I'm able to clone my password store without problems -- everything works as expected here. However, when I attempt to pull changes from the remote repository (without having made local changes), I get "Error: Failed to fetch from remote".

Perhaps related: in "About Repository", there are apparently 0 commits (there should be

[2017-06-05 16:30] mssun commented on #90
Thanks for the report. I will try to reproduce this issue first and give you a feedback.

[2017-06-07 00:03] mssun opened #91 "App Store Submission Timeline"
For you guys who want to know the current status of App Store submission, here are several attempts. Feel free to give suggestions.

[2017-06-07 00:20] mssun commented on #91
I explained our usage for UIFileSharingEnabled key in iTunes sharing and resubmitted.

[2017-06-07 00:23] mssun commented on #91
I removed Apple logo in the app preview and app screenshots, and explained the "Export Compliance" of Pass in the note and resubmitted.

[2017-06-07 06:26] yishilin14 commented on #82
Uploading SSH keys via iTunes has been supported. I just updated the WiKi page.

Starting from a31f5b797d2533137b2df6265846cb4c8501ea08 (currently in the develop branch), it is not necessary to import the public ssh key. We will merge it into the master branch soon, so I intentionally ignore the public key filename in the document.

[2017-06-07 06:26] #82 closed

[2017-06-07 11:47] rnkn opened #92 "Crash without repository"
Navigating to Settings > General > About Repository will reliably crash the app if a repository is not set.

[2017-06-07 13:22] yishilin14 commented on #92
Fixed in 174128998c89e10ede395d46c65e117503d3e08d (dev branch).

We have submitted the updated app for the TestfFlight beta review. Will keep you posted. :-)

[2017-06-07 17:10] hallabro commented on #91
Thanks for keeping us updated. Love your work! 👍

[2017-06-07 20:32] mssun commented on #91
![img_0922](https://user-images.githubusercontent.com/1270392/26900019-c48efc00-4b85-11e7-8084-3c75748a8b7c.png)

[2017-06-07 20:36] mssun commented on #91
https://itunes.apple.com/us/app/pass-password-store/id1205820573?ls=1&mt=8

[2017-06-09 02:29] yishilin14 commented on #92
Fixed in v0.2.6(34) in App Store and v0.2.7(1) in TestFlight.

[2017-06-09 02:29] #92 closed

[2017-06-09 09:01] yishilin14 opened #93 "hard press and search does not work in v0.2.7(1)"

[2017-06-09 12:54] yangl1996 opened #94 "Crash when editing file name"
[code]

Hi! Thank you so much for the great app! However I'm experiencing crash when modifying file name. The issue is not a very big deal to me (since I seldom change file names), but I can reproduce it every time in my current setting.

To reproduce: Enter the detail page of a password entry -> Tap Edit -> Change the "NAME" value -> Tap Save -> Screen turns black and app crashes

Thanks! I'm hap

[2017-06-09 14:05] yishilin14 commented on #94
Thank you. I just cheked this case.

This issue exists in b48a7438ed4978b3fb74f26591cb50034633a70a (App Build 0.2.6(34)), and was later fixed by 7bfc3cc7d45a84bc2efcdbe5d88a394d38e7bdbc.

So the problem will be solved in our next App Store release. Stay tuned, I will close this issue once the next release is out.

[2017-06-09 14:11] yishilin14 commented on #94
Deleting an entry also crashes the app in 0.2.6(34), and will be fixed in our next public release.

[2017-06-09 14:12] yishilin14 commented on #93
Fixed in 545aceb7afacdf6fc3f0149cb405c7f89d956739, will be in the next public release.

[2017-06-10 14:48] steffen9000 commented on #91
You should absolutely make it a paid app, or at least allow us to donate through PayPal etc. This app  improves my iOS device usage greatly and I'd love to send some money your way. :)

[2017-06-10 19:38] samdmarshall opened #95 "Unable to clone from a server that specifies a custom ssh port"
I am running a git server on my NAS that hosts a copy of my passwords repo. My NAS uses a custom port for ssh (2200) and i cannot seem to get the repo to be cloned in the app. I've tried specifying the port in the URL (`ssh://my-nas.local:2200/git/passwords.git`) and this fails as well. Since the instructions and error message i'm presented with (failed to clone repo) are not very much help; is th

[2017-06-10 23:25] mssun commented on #95
Hi, I just tested my repo. It's OK.

Did you forget to include username in the url?

I mean like this: ssh://**username**@my-nas.local:2200/git/passwords.git

[2017-06-11 00:40] samdmarshall commented on #95
yeah I have tried that as well, still fails for the same reason.

[2017-06-11 01:44] geoffmacintosh commented on #91
Agreed. An in-app tip purchase would be super convenient if you don't want to make the app paid. I think those are allowed?

[2017-06-11 02:17] mssun commented on #90
Thanks for waiting. I can reproduce your issue. I am working on it.

[2017-06-12 22:50] mssun commented on #90
The fix was in the latest TestFlight. Please try. Thanks.

[2017-06-12 22:50] mssun commented on #80
The fix was in the latest TestFlight. Can you try again? Thanks.

[2017-06-12 23:33] angus-g commented on #90
Thanks! I can confirm that it's working for me (both pulling changes and viewing commit info for the repository).

[2017-06-12 23:33] #90 closed

[2017-06-13 05:00] rnkn opened #96 "Use Touch ID to secure private key passphrase (instead of app access)"
Many thanks for creating Pass for iOS, and getting it on the App Store. (5 star rating already posted!)

Something I'd feel more comfortable with is using Touch ID to secure my private key passphrase, instead of using Touch ID to secure the four-digit passcode for app access.

I have a long private key passphrase, so typing it in every time I want to access a password is cumbersome, but I apprecia

[2017-06-13 05:13] mssun commented on #96
That is really a good point! Will try to implement this with a higher priority.

[2017-06-13 05:26] rnkn opened #97 "Remove PGP key pair from iTunes Documents once imported"
If a user imports their PGP key pair via iTunes Documents, these remain accessible via any trusted computer (and can simply be dragged outside iTunes), which may provide an avenue for an attacker to export a user's private key, e.g.:

When an iPhone is plugged into a new computer via USB, the user is prompted with an option to trust the computer before the device can access the iPhone. As far as I

[2017-06-13 05:51] yishilin14 commented on #97
Hi, your suggestion sounds reasonable. Currently, ssh keys are also stored in the same "Documents" directory....

I am currently working on an "app extension" about iOS integration suggested in some other issues. Keys and the repository will be migrated to a "shared container" so that both the app and the app extension could access the data. The problem will be solved automatically when the extens

[2017-06-13 05:53] rnkn commented on #97
Excellent. Love your work 🔥

[2017-06-13 09:23] rnkn commented on #91
I would gladly pay for this app. I've already downloaded from the App Store so I can't repurchase, but would like to donate via PayPal.

[2017-06-13 16:39] yishilin14 commented on #68
I am closing this issue now because it seems like impossible for now (and "not gonna happen" in https://github.com/krzyzanowskim/ObjectivePGP/issues/47).

Feel free to re-opon if this becomes possible. :-)

[2017-06-13 16:39] #68 closed

[2017-06-14 14:32] yishilin14 opened #98 "Use the Pass extension to fill in Browsers and apps"
We are now working on an "app extension" of Pass with the ultimate goal of "using the Pass extension to fill in Safari and apps" (just like [1Password](https://support.1password.com/1password-extension-ios/) and LastPass)! We would like to share with you the status here so that you will know what's going to happen soon (and what's not).

**High level features**
- In Safari/Chrome, visit the websit

[2017-06-14 14:55] yishilin14 commented on #63
Hi all, we are working on this now. Thank you for your suggestions and materials!

I am closing this one because there are separated issues about the same extension. And I would like to redirect all general discussions about the extension in #98.

[2017-06-14 14:55] #63 closed

[2017-06-14 14:56] yishilin14 commented on #20
Hi all, we are working on this now. Thank you for your suggestions!

I am closing this one because there are separated issues about the same extension. And I would like to redirect all general discussions about the extension in #98.

[2017-06-14 14:56] #20 closed

[2017-06-15 01:47] mssun commented on #95
@samdmarshall Can you try the latest TestFlight build? Since we fixed some clone issues, I don't know if it was related to yours. Thanks.

[2017-06-15 02:33] samdmarshall commented on #95
sure, how would i get that?

[2017-06-15 02:34] mssun commented on #95
Did you join in our TestFlight beta test? If yes, update in the TestFlight app. If not, I can put you in the list.

[2017-06-15 02:41] samdmarshall commented on #95
I'm not a part of that yet, i would appreciate being able to test out if that new build fixes my problem; I'd be able to test it on iOS 10 and 11 if it makes a difference.

[2017-06-15 02:57] mssun commented on #95
Done, a invitation link have been sent to you.

[2017-06-15 03:57] mssun commented on #91
Thanks for your huge supports. After discussing with my collaborator @yishilin14, we decided to make the app **free**. Since we all get a lot of benefits from free software / open source software, this could be the best way to contribute to the community.

I also added a PayPal donation button [![Donate](https://img.shields.io/badge/Paypal-donate-blue.svg)](https://www.paypal.me/mssun) on the home

[2017-06-15 04:21] jrick commented on #91
You two are a class act.  Keep up the great work!

[2017-06-15 13:12] samdmarshall commented on #95
![img_0005](https://user-images.githubusercontent.com/1087718/27182844-ae29b330-51aa-11e7-8007-f9fe2479730c.PNG)

I'm still getting the same error on the testflight build. Is there any way that more info could be provided so i could debug this?

[2017-06-15 13:53] yishilin14 commented on #95
Sadly, the error message returned by ObjectiveGit(or libgit2 used by it) usually does not contain any useful information.

We use ObjectiveGit to clone repositories, and ObjectiveGit provides bindings to the libgit2 library. I am thinking about using libgit2 directly to clone a repository like this and see what will happen first.   You mentioned previously that you have other devices that could su

[2017-06-15 14:59] samdmarshall commented on #95
I was using command line git `2.13.1`, passing the same url to it as i have shown here and it connects and prompts for a password. when i provide that password it will checkout the repo successfully.

[2017-06-16 03:56] rnkn commented on #97
Just tested this with current TestFlight version and it works. Thanks!

[2017-06-17 17:27] yishilin14 opened #99 "Crash while syncing repo in 0.2.7(6) in TestFlight"
I just read the TestFlight crash reports. Syncing repositories may crash Pass v0.2.7(6), if you updated Pass from previous versions. The reason for the crash is an incomplete migration of user defaults when new features were added.

The problem has been fixed in 0bb6e48d392709775dc675e94aa4187efd8f3958.
- If you update Pass from 0.2.6 to future test flight / app store version directly, you shall b

[2017-06-20 18:37] #97 closed

[2017-06-21 05:20] yishilin14 commented on #99
Fixed in 0.2.7 in app store.

[2017-06-21 05:20] #99 closed

[2017-06-21 05:20] yishilin14 commented on #94
Fixed in v0.2.7 in app store.

[2017-06-21 05:20] #94 closed

[2017-06-21 05:20] yishilin14 commented on #93
Fixed in v0.2.7 in app store.

[2017-06-21 05:20] #93 closed

[2017-06-21 05:21] yishilin14 commented on #80
Fixed in v0.2.7 in app store, according to @mssun.

[2017-06-21 05:21] #80 closed

[2017-06-21 17:22] mssun commented on #95
@samdmarshall Hi, I'm wondering if your iPad can resolve the "tardis.local" domain in your local network? Can you somehow test if your iPad can connect to the server?

[2017-06-21 18:26] samdmarshall commented on #95
Yup, with an SSH client i am able to connect to `tardis.local` on port 2200 and login; both as `git` and another user. Maybe this is a clue: when i login as `git` over ssh, it prints a message:
[code]
then exits the shell. This doesn't seem to impact my ability to clone from other hosts using the `git` command.

[2017-06-21 18:40] mssun commented on #95
Could be relevant. Let me reproduce this issue first. Could you detail your git configuration?

[2017-06-21 19:28] samdmarshall commented on #95
On the server you mean? I have ssh enabled and did a `git init --bare` on the directory to create a repo, then added that remote to my password repo then pushed.

[2017-06-22 02:10] Li357 opened #100 "App crashes whenever I try to set my PGP key"
I've tried using the Download from URL and ASCII-Armor Encrypted Key ways to set my PGP key, but every time I try to set the key, the app says "Fetching PGP Key" for a bit, then crashes. I'm on an iPhone 6s with iOS 10.3.2 (14F89).

[2017-06-22 02:28] mssun commented on #100
Could be caused by your PGP key. Can you describe the steps that the key was generated? Then, I can reproduce your issue. Thanks.

[2017-06-22 02:31] Li357 commented on #100
So I used `gpg2` to generate my GPG ID and set up `pass`, then I exported the public and private keys with `gpg2 --export -a <ID>` and `gpg2 --export-secret-keys -a <ID>`. I'm new to this so I'm not entirely sure if I'm doing this correctly.

[2017-06-22 02:39] mssun commented on #100
Seems correct. Sometimes it will crash because of a wrong key pair. Could you double check the input keys? BTW, which version did you use?

[2017-06-22 02:42] mssun commented on #100
If you don't mind, could generate another key pair which can crash the app for me? Please email them to `developer@passforios.mssun.me`. That will be very helpful. Thank you.

[2017-06-22 02:42] Li357 commented on #100
I'm using version 0.2.7. When I copy paste the keys from the terminal, there were line breaks, could that affect it?

[2017-06-22 02:46] mssun commented on #100
I don't think so. May be you can try to redirect output to a file to avoid. e.g., use command `gpg2 --export -a <ID> > pub.key` and `gpg2 --export-secret-keys -a <ID> > sec.key`

[2017-06-22 02:48] Li357 commented on #100
Do you mean I should regenerate a GPG ID and then export the keys and try?

[2017-06-22 02:58] mssun commented on #100
No, the current is fine for you. I mean you can generate a new keys for my testing (in case you have used the current keys for encryption/decryption).

Or if you don't mind to share me your current keys to me then discard then after my debugging.

The purpose of this is for your security, never share your own keys to others :)

[2017-06-22 03:04] Li357 commented on #100
How should I generate a new key for you? I'm all new to this GPG/PGP thing.

[2017-06-22 03:15] mssun commented on #100
That's OK, let's do this step by step first.

1. Find you key ID.
`gpg2 --list-secret-keys`

2. Export keys to files.
`gpg2 --export -a <ID> > pub.key`
`gpg2 --export-secret-keys -a <ID> > sec.key`

3. Share `pub.key` and `sec.key` to your device (e.g., via Notes app), or upload to your own server.

4. Use Pass for iOS and paste GPG keys.

If the app crashes again, send `pub.key` and `sec.key` to

[2017-06-22 03:21] Li357 commented on #100
Hmm, looks like I just had some extra whitespacing. It worked like a charm through notes. Sorry about that, my fault!

[2017-06-22 03:21] #100 closed

[2017-06-22 03:27] mssun commented on #100
Not at all. This is an issue for us. We should notify user but not have a crash. Since this may be caused by an upstream library, we have to coordinate with other developers to fix the issue together. Anyway, thanks for the report.

[2017-06-22 10:27] asymmetric opened #101 "Crash with very large passwords"
Version: 0.2.7 (App Store)
iOS 10.3.2

The app crashes when displaying a password that is actually a tarsnap encryption file, 69 lines long. Looks like a long piece of text basically.

[2017-06-22 17:38] therockmandolinist opened #102 "Allow remembering passphrase for a given amount of time."
Right now remembering the passphrase is either on or off, but it would be nice to have the option to remember it for, say, 15 mins, 30 mins, 1 hr etc. (Or even an input-able amount of time?) This would be similar to the behavior of using pass with gpg-agent as well as some other password managers.

[2017-06-22 22:01] mssun commented on #102
Thank you, this is a very good suggestion. We are working on some basic features right now. Will consider this in the near future.

[2017-06-25 05:50] yishilin14 commented on #98
Pass extension now fills usernames and passwords in Chrome and Safari (commit: 5d71f997119ce9e33ec454ab24368f990873b5f3).

- **Safari**: A javascript file `passforios/passExtension/passProcessor.js` is used to fill usernames and passwords. It may not be very robust now (I am new to this), if you have any suggestions please let us know. Pull requests are always welcome!

- **Chrome**: If you find s

[2017-06-26 10:00] yishilin14 commented on #102
I have been thinking about this. Suppose a user decides to remember the passphrase for x minutes. There are two different ways to implement this feature with the same user experience.

- The app clears the passphrase from its "memory" after x minutes. I don't know how to do so elegantly.
- When a passphrase is needed, the app checks whether the previous passphrase has "expired". If so, the app req

[2017-06-26 10:24] asymmetric commented on #102
Is this related to the passphrase being removed from the clipboard after an interval? If not, I'll open a separate issue.

If yes, I think the same callback that does that could also "delete" the passphrase from the app's memory.

[2017-06-26 10:38] yishilin14 commented on #102
Currently, the copied passphrase is removed from the clipboard after 45s, we do not plan to provide an option for customizing that time interval.

This issue is about remembering the gpg passphrase.

[2017-06-26 10:40] yishilin14 commented on #102
Oh I get it, did you mean that the same callback that we use to remove the copied password could be used to clear the remembered gpg passphrase? Sounds doable.

[2017-06-27 02:40] craigcabrey commented on #98
I tried this out on a financial site (would rather not specify publicly) and it didn't fill in the username, only the password field. The password it did paste in was far too long and even after entering my username manually, it was the incorrect password.

I think it might've paste in the entire contents of the pgp file in the password field but it's hard to tell. All of my password entries are f

[2017-06-27 02:49] yishilin14 commented on #98
@craigcabrey

For the username field, we are only looking for "username: xxxx" or "Username: xxxx". I think I will add "login" as an additional key. Meanwhile, would you please try to modify "login" to "username" temporary to see whether the username filed could be filled? (You could go to Settings->Advanced->Discard all local changes to cancel the change.)

For the password field, I am not sure w

[2017-06-27 02:55] craigcabrey commented on #98
Makes sense. I was using `login:` since that is what browserpass looks for. Just tried it out and changing to `username:` solves that issue.

Password field is still incorrect though. If Safari (I am using Safari, not Chrome) has a remote debugger I might be able to see what's going on.

[2017-06-27 03:15] yishilin14 commented on #98
Just took a look at browserpass' readme. Now I think adding "login" is a must-do. (I am using browserpass too.)

I tried a banking site and the auto filling worked correctly there. If you don't mind, you could send us an email about the site or a similar site, we will give it a try.

[2017-06-27 05:48] asymmetric commented on #98
I think it would make sense to make this configurable, so that it's customizable and that it also acts as a form of documentation.

[2017-06-27 20:54] bartekb81 opened #104 "Can't clone my self-hosted repo"
I enter the URL (in ssh://bartek@server.me/path format), get prompted for password to my SSH key like five times in a row. Then I get a very generic error.

Are there any error details I could inspect somewhere?

[2017-06-27 21:12] mssun commented on #104
Could be a wrong key or wrong passphrase. Can you try it again?

[2017-06-28 08:20] bartekb81 commented on #104
You were right, it was the wrong key. Sorry!

[2017-06-28 08:20] #104 closed

[2017-07-03 12:58] intelfx opened #105 "Can't clone any repo using SSH"
I'm running (jailbroken) iOS 10.2 on iPhone 5S, using Pass for iOS 0.2.7 from AppStore. There is a problem with setting up a Git repo for sync using SSH keys. I tried syncing with a self-hosted repo and GitHub — both yield a generic error when trying to clone (using a password with the self-hosted server does not work too).

After a successful key exchange and typing in the key passphrase (or the

[2017-07-03 13:18] yishilin14 commented on #105
About syncing GitHub repo, here goes one example of the ssh url: `ssh://git@gitlab.com/passforios-demo/demo.git`, and the username should be `git`. For more, please refer to our [wiki](https://github.com/mssun/passforios/wiki#ssh-url-example). I am able to clone from GitHub using my SSH key.

For self-hosted repo, there is another similar issue #95. I guess the problem is caused by some bug of the

[2017-07-03 14:42] intelfx commented on #105
@yishilin14 OK, I've found the problem. You have to **both** say the username in the repo URL **and** fill the "username" field.

You may want to fix this.

[2017-07-03 14:46] intelfx opened #106 "Pass browser extension doesn't appear on iOS 10.2"
I'm running (jailbroken) iOS 10.2 on iPhone 5S, using Pass for iOS 0.2.7 from AppStore. After I set up the repo, opened the browser (I tried both Safari and Chrome), navigated to a page with a login form and went to enable the Pass extension, I've found that it just isn't there. I tried reopening the browser and rebooting. What did I miss?

[2017-07-03 14:46] yishilin14 commented on #105
Are you able to clone both your self-hosted repo and Github repo now?

Both the username in the repo URL and the username field are required. We are already giving examples in our [Wiki](https://github.com/mssun/passforios/wiki/Building-Pass-for-iOS). We are thinking about adding a link to it in the repo setup.

[2017-07-03 14:49] yishilin14 commented on #106
You have to "enable" the extension. That's how app extension works.
Please refer to our [Wiki(Use the Pass extension to fill in Safari and apps)](https://github.com/mssun/passforios/wiki#use-the-pass-extension-to-fill-in-safari-and-apps).

[2017-07-03 14:52] intelfx commented on #105
Ah, OK, it wasn't actually obvious from the docs that you have to say username in both places... However, I don't see why you can't just extract the username from the repo URL.

[2017-07-03 14:53] intelfx commented on #106
OK

OK

At this point, Pass just isn't there.

[2017-07-03 14:54] yishilin14 commented on #105
I will polish the working in the wiki. :-)
Extracting the username from the repo URL sounds doable, we will put it into our todo-list.

[2017-07-03 15:00] yishilin14 commented on #106
I checked out v0.2.7 from AppStore, the extension should work for Safari (limited support, only copying password is supported). Chrome is supported in v0.2.8, it is now in TestFlight.

I am not sure whether it is because your device is jailbroken. I never tried that.

[2017-07-06 08:06] davidjb commented on #91
Donated accordingly!  As others have said, you're fantastic for making this app and for making it open source.  So a huge thank you @mssun and @yishilin14.

I never quite got there with https://github.com/davidjb/pass-ios so I'm super-excited to see where this gets to.  Looking super-promising.  It goes without saying if any of that old code helps, you're welcome to it.

[2017-07-06 09:18] davidjb opened #107 "< iOS 10 support?"
Thank you for making and open-sourcing Pass for iOS! I'm the one who was struggling with https://github.com/davidjb/pass-ios and have since deprecated and pointed anyone finding those to your project.

With the current app, it requires iOS 10.2 or above.  Two devices I have are on iOS 9 and that's the end of the road for them (iPhone 4S).  If I adjust the deployment target back to (for example) `9

[2017-07-07 03:43] yishilin14 commented on #106
I think Pass was not there for you because we set "IPHONEOS_DEPLOYMENT_TARGET=10.3" in v0.2.7. The problem will be fixed in the upcoming v0.2.8.

[2017-07-07 04:24] mssun commented on #107
Sorry for the late reply. I am debating on this issue. Actually, I tried to port the project to target iOS 9 weeks ago. However, since there are many modifications on the code base, I gave up. Besides the issues on `NSPersistentContainer`, there are new APIs like `UIImpactFeedbackGenerator` used in the app. In addition, I was not sure how many users are still with iOS 9. Therefore, considering iOS

[2017-07-07 04:49] intelfx commented on #106
Great, thanks! Is there an ETA of that release?

[2017-07-07 04:55] yishilin14 commented on #106
Definitely within a week.

[2017-07-08 20:36] ymarcus93 opened #108 "Add protected fields"
In addition to having the passcode hidden, it would be cool to have additional fields hidden as well. I was thinking that if the key for an additional field had a * in the beginning of it, then the value would be protected like a passcode visually.

[2017-07-11 12:47] ViktorEvil opened #109 "can't add passwords to local git server"
not sure if being a noob or not but passwords created in the app do not sync with my local git server

app just displays the number of changes in brackets by the title.

[2017-07-11 13:04] yishilin14 commented on #109
Hi, that number is the number of local commits. You have to "Pull to Refresh" in order to sync.

[2017-07-11 13:56] ViktorEvil commented on #109
Yes I was pulling to refresh.

I've sorted it, turns out I was trying to sync to a non bare repo that was checked out (first time using a git server and just fumbling around)

Managed to get a bare repo on my server then I was able to push into it from my laptop and phone.

Thanks

[2017-07-11 14:35] #109 closed

[2017-07-12 22:50] davidjb commented on #107
Due to some changing circumstances, I've managed to get a device with iOS 10 so I'll close this off because as you say, the effort to backport was looking too great.  Thanks for your comments all the same.

You're very welcome about the donation -- thank you for making the project!

[2017-07-12 22:50] #107 closed

[2017-07-12 22:56] davidjb commented on #52
Just adding my support for this feature as I just use pass personally (rather than a team setup) but have one GPG key per device for security.

[2017-07-16 19:08] samdmarshall commented on #95
Is there anything that can be done about this? it is really hindering my ability to migrate away from my old password manager.

[2017-07-17 02:18] yishilin14 commented on #95
Both @mssun and I have been extremely busy recently. I might have some time later this week, will try go dig into this. This is the issue with the first priority now.

[2017-07-17 02:24] yishilin14 commented on #108
The general idea of adding protected fields sounds interesting.

However, we are still debating about the best way to implement it. I feel that interpreting fields with names `*xxxxx` as protected fields may not be the best and the most general way to do so. I am trying not to extend/invent the syntax for field names.

If you guys have any suggestions about this feature, please feel free to leave

[2017-07-17 09:08] mtl opened #110 ""Cannot Show Password" in app"
When I try to view pass files in the app, I receive an error: "Cannot Show Password" "Decrypted hash mismatch, invalid password." This seems to be coming from ObjectivePGP, and occurs both for passwords cloned from a git repository and passwords created within the app. However, the Safari integration works and is able to decrypt and copy the passwords just fine.

![img_1867](https://user-images.gi

[2017-07-17 09:16] yishilin14 commented on #110
Because the Safari integration works, I believe that you have cloned the repository correctly and imported the keys correctly.

One reason for seeing this error message is wrong passphrase for PGP keys. The Safari integration (aka extension) and the app itself does not share the passphrase for now (I am lazy...). Is it possible that you entered the correct passphrase in the extension and the wrong

[2017-07-17 11:58] mtl commented on #110
Hi,

Yes, I've tried the passphrase many times in the app and receive the error every time. Because the safari extension is successful at decryption, I agree the PGP key and passphrase must be correct.

I imported the keys by pasting in the ASCII-Armor text if that helps. Thanks.

[2017-07-17 14:04] jovrum commented on #110
I'm getting "Cannot Show Password" as well, but the error message that comes with it is:
[code]
I imported the keys by pasting the ASCII-armored text into the public and private key text boxes respectively. The private key is encrypted with a passphrase. I've tested that the passphrase I input is correct, but I still get the above error message.

Commented here instead of making a new ticket becau

[2017-07-17 14:25] yishilin14 commented on #110
@jovrum Thank you for the debug info. May I ask does the decryption function of the Safari extension work for you in your case?

[2017-07-17 14:56] jovrum commented on #110
@yishilin14, I just tried it in the Safari extension and I get the same error message (the PublicKeyEncryptedSessionKeyPacket one). Up until that point it works fine (lists all my git-pulled passwords etc).

[2017-07-17 16:38] samdmarshall commented on #95
Thanks for the update! I really appreciate that.

[2017-07-19 14:46] yishilin14 commented on #110
@jovrum It is possible that the PGP key you are using is not supported by the library Pass uses. Would you please tell us how to generate a pair of key of the same type (e.g., the commands) or provide a pair of key of the same type? Thanks.

[2017-07-19 14:53] yishilin14 commented on #110
@mtl I have no clue about how to reproduce your issue and investigate further. What version are you using now? Is this the first version that you have installed?

If no, would you please "erase all data (Settings->Advanced->Erase all)" and config again? I am trying to rule out the possibility of the migration bug.

[2017-07-19 14:56] yishilin14 commented on #106
Hi @intelfx. You may try v0.2.8 in the AppStore and see whether this issue has been resolved.

[2017-07-20 11:16] jovrum commented on #110
Initially I used the wrong key, so I set it up with the correct key but I get the same error message. I've also verified that the private key passphrase is correct for the new key.

Maybe it's because my keys are 4096 bit?

[2017-07-21 18:18] yishilin14 commented on #95
I set up a local git server with a customized port today. And I was able to clone the repository. I am listing my steps here, and you may check whether there are anything interesting.

- **On my Macbook**:
    - I created a user `git`, did a `git init --bare` to create a repo at `/Users/git/passtest12345`.
    - Using my account, I then added that remote to my password repo and pushed.
    - I was

[2017-07-22 11:20] yishilin14 commented on #95
Will provide more git clone error messages in the next TestFlight release, hope that will help.

[2017-07-22 11:23] yishilin14 commented on #105
I am closing this issue because it seems like the cloning worked for you.

We are providing more information about the git clone errors (e.g., wrong user name) in the coming release. I think the extra error messages complements the Wiki page.

[2017-07-22 11:23] #105 closed

[2017-07-23 03:00] intelfx commented on #106
Yes, works for me. Although usability-wise it is very bad, but that's for another issue.

[2017-07-23 03:00] #106 closed

[2017-07-23 03:12] yishilin14 commented on #106
If you have any specific suggestions, please leave them in the issue for leaving extension suggestions.

We are still improving the extension and adding new features. We released the extension even if they were still in its early stages, because we believe that providing limited supported is better than providing nothing.

Thank you for your understanding.

[2017-07-23 03:19] #83 closed

[2017-07-23 12:31] samdmarshall commented on #95
this is the error message i get from the latest off testflight ![img_0037](https://user-images.githubusercontent.com/1087718/28499336-489185c6-6f81-11e7-80ae-1cfb82187175.PNG)

[2017-07-23 14:18] yishilin14 commented on #95
I can successfully clone my local git server using both password and ssh keys. I think your issue could be related to dependencies of ObjectiveGit.

I googled "Unable to exchange encryption keys" a bit and found some interesting posts. For example, this one: https://www.freefilesync.org/forum/viewtopic.php?t=1281.
- "So it could be an issue with libSSH2 and OpenSSH."
- Is it possible that the inte

[2017-07-23 16:55] samdmarshall commented on #95
I'm going to mark this as closed because i've worked out how to get around this problem. it was part of the configuration on my NAS.

[2017-07-23 16:55] #95 closed

[2017-07-23 17:32] samdmarshall opened #111 "[bug] safari extension should respect main app display"
I've configured the main app to display by folders, but when i open the safari extension it doesn't reflect that setting change. This list ends up being sorted by user-name which makes it impossible to find anything with.

[2017-07-24 00:54] yishilin14 commented on #111
This is not a bug. I am lazy while implementing the extension. I suggest to use the search function in the extension, because we want to fill a specific website.

I will support "folder mode" later. It is in my todo list.

[2017-07-24 19:42] niklaas opened #112 "Support key+password authentication"
Could it be that key+password authentication is not supported? I imported my private key and tried to connect. I was asked for my password, so I entered it. Then I get the message:

"Failed to clone repository from [censored] to file:///private/var/mobile/Containers/Shared/AppGroup/[numbers]/Library/password-store-temp"

In my `sshd_config` I have:

[code]

[2017-07-26 22:18] ViktorEvil opened #113 "Additions display randomly"
Additions do not display in the order they are written in the raw file

[2017-07-27 06:13] yishilin14 commented on #113
Thank you for your report. The problem has been fixed in the develop branch. If you have joined our TestFlight, you may try the latest version v0.2.9(4).

[2017-07-27 12:01] yishilin14 commented on #112
Sorry for the late reply. I just did a testing, key+password authentication is supported (by `ObjectiveGit` we use).

- The correct form of the URL should be `ssh://git@gitlab.com/passforios-demo/demo.git` and the username is `git` in this case. Please double check your inputs. [[Wiki](https://github.com/mssun/passforios/wiki)]
- The TestFlight version is now providing more error messages about gi

[2017-07-27 12:13] ianmurrays opened #114 "Any plans to support pass-tomb?"
I hope this is the right place to ask, are there any plans to add support for pass-tomb? It would be ideal since keeping the whole store tree is uncomfortable for me, but support for iOS is crucial.

Great great great application!

[2017-07-27 12:47] yishilin14 commented on #101
Sorry for the late reply. I just added a password file with a single line of 8000 "a"s. It seems like everything looks fine.

[2017-07-27 13:04] yishilin14 commented on #114
I took a look at pass-tomb. I don't think we will have time to support it in the near future, because (1) it seems like its user-base is not very large for now; and (2) there are several enhancements with higher priorities (e.g., extension, importing public keys of others, even multiple vaults).

Personally, I know there are many awesome plugins for Pass now. I don't know how to decide what to sup

[2017-07-27 14:01] asymmetric opened #115 "Broken lock screen"
version: 0.2.9(4)
iOS 10.3.3

Sometimes, opening the app I'm presented with this screen. I think it only happens when resuming, i.e. when I've recently opened and closed the app.

![image](https://user-images.githubusercontent.com/101816/28674111-bb242312-72e4-11e7-985b-53620141afb3.png)

[2017-07-27 14:07] yishilin14 commented on #115
Thanks. I am aware of this lock-screen related issues for a while. It occurs from time to time when the device is not locked in the portrait mode. Will try to fix and reply to you.

[2017-07-27 18:39] niklaas commented on #112
No worries. Hm. On my server I only get

[code]

as if the key is not accepted. I'll drop an email to the address mentioned...

[2017-07-28 05:08] Li357 opened #116 "How do I set up a TFA GitHub password repository?"
I previously had all my passwords stored at GitLab and all was fine, but I decided to migrate to GitHub but forgot my passphrase and had to generate a new key and re-register all my passwords. I'm now trying to set up the Git Server on passforios but when I use my repository name and password, it fails because I have TFA for GItHub on. How do I go about setting passforios up? The documentation is

[2017-07-28 05:17] mssun commented on #116
You can try to use "Personal access tokens" in GitHub.

[2017-07-28 05:24] mssun commented on #112
@yishilin14, I think @niklaas 's question is whether we can use password and ssh key combination for authentication. Is that correct?

I guess we only support either password or ssh key authentication right now.

[2017-07-28 05:44] Li357 commented on #116
Thanks! It worked!

[2017-07-28 05:44] #116 closed

[2017-07-28 06:16] yishilin14 commented on #112
I was using SSH key with passphrase. Just to be clarify.

[2017-07-28 18:49] niklaas commented on #112
@mssun This is what I mean. I tried to make that clear by pasting part of my `sshd_config`. To login on my server, I require the client to first authenticate with an ssh key (can be password protected, needn't be -- I guess I cannot enforce that on the server side) and, when key authentication was successful, the user must provide their password.

Using the version provided via TestFlight, I get t

[2017-07-28 19:05] mssun commented on #112
Yes. I understand your issue.

I'm in defcon. Will be back to you later.

On Fri, Jul 28, 2017 at 11:50 AM Niklaas Baudet von Gersdorff <
notifications@github.com> wrote:

--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2017-07-29 21:06] laats opened #117 "Github push/pull problems"
Awesome app! However, I am having problems syncing with a private organization repo I own at github. Am using ssh protocol. Cloning works fine however.

version 0.2.8 (10)
ios 10.3.3

Thanks!

[2017-07-30 00:31] mssun commented on #117
I don't think there's difference between normal repo and organization repo. Can you provide more information for debugging?

[2017-07-30 08:54] laats commented on #117
The repo is owned by me and is private and has me as a collaborator. The github clone url is: git@github.com:org-name/repo-name.git

In app:
Repo url: ssh://git@github.com/org-name/repo-name.git
user name: git
Auth: ssh key

I am using deployment key with write rights. Cloning the repo works just fine. When I try to sync in app (pulling down) nothing happens. When I go to Settings->General->About

[2017-08-01 19:03] 40ccc commented on #114
+1 would love to see pass-tomb support!

[2017-08-01 19:07] 40ccc commented on #96
Touch ID to secure my private key passphrase, wiping application data after x failed Touch ID attempts/pin attempts, and pass-tomb support would tick all my top-tier needs from a password manager and make for a killer product. I'd sooner make a big donation to this project to help get these features implemented than rent a commercial password manager for another year...

[2017-08-02 16:05] niklaas commented on #112
No hurries, just in case you forgot about this because of Defcon: Any way to see this implemented? If not, I would need my `pass git` repo to a more unrestricted user.

[2017-08-06 15:09] mtl commented on #110
It's working for me now. Just updated the app, I think it was the July 17, 2017 update, and all is well. Thanks!

[2017-08-06 15:09] #110 closed

[2017-08-06 20:36] samdmarshall opened #118 "Passphrase is not being remembered"
After the last testflight update (0.2.9 (2)) I've been noticing that my gpg passphrase isn't being remembered automatically. Is this a bug or am I doing something wrong?

[2017-08-08 04:00] yishilin14 commented on #118
I don't know why. I don't think we have touched related codes.

Would you please go to Settings->General and check whether "Remember passphrase" is on? Not sure whether close it and open it again would work.

[2017-08-08 19:18] samdmarshall commented on #118
It is enabled; i've disabled and re-enabled it in the hopes it will stick this time.

[2017-08-09 09:40] szarsti opened #119 "Hide otpauth url form additions section"
When using password with a line:

[code]

, one gets one time password in dedicated section and also otpauth url in additions section. I think that line, once discovered as valid otp, should be ignored from additions.

It exposes slight risk when someone overlooks a person mobile screen. I imagine for the same reason password is replaced with '*', until explicitly revealed.

That change will not r

[2017-08-09 09:49] yishilin14 commented on #119
You can go to Settings-> General and check "Hide OPT Fields". Then all OTP related fields will be gone in the table view (still visible in Show Raw).

[2017-08-09 13:39] szarsti commented on #119
Oh, I have missed that. That solves my problem. Thank you!

[2017-08-09 13:39] #119 closed

[2017-08-12 05:08] yishilin14 commented on #101
We are closing this issues because we are not able to reproduce the issue. If you still find this issue in the latest version, please send us a raw text that will crash the app to `developer@passforios.mssun.me` and we will reopen this issue. Thank you. :-)

[2017-08-12 05:08] #101 closed

[2017-08-12 13:54] yishilin14 commented on #118
I am closing this issue for now (clearing the issue board...).
If you anything went wrong, please feel free to reopen.  :-)

[2017-08-12 13:54] #118 closed

[2017-08-12 17:44] mssun commented on #117
This is wired. It seems that this issue is not related with your GitHub setup. Is there anything special with your repo? Can you send me the steps you create the repo so that I can reproduce the issue?

[2017-08-13 00:33] yishilin14 commented on #117
In the latest version of TestFlight (v0.2.9(8)), we fix some bugs about git clone.
- Before each "git clone", we now erase the previous authentication method password (both git password and ssh key passphrase).
- In previous versions, the only way to erase the previously set SSH key passphrase was to "erase everything".

Hope this new version makes testing different authentication methods easier.

[2017-08-28 01:39] kroesche commented on #117
Confirming I see the same issue.  I am using 0.2.8 from the app store.  Using ssh with a local git server.  I can clone the repo and it works fine.  But after that I can't sync any more.  I see the same error message as @laats when I try to view the commit log.

[2017-09-10 15:06] pocin opened #120 "transfer the secret key from ios"
I was wondering, whether it's possible to export the secret key from your ios device back to mac (via iTunes maybe?) or it's only one way?

[2017-09-10 17:11] yishilin14 commented on #120
We used to store keys in a place where users could get it from iTunes. We later removed it for security concerns (issue #97).

Technically, we could support this in various ways (e.g., show the ASCII-Armored keys somewhere or add an export button somewhere in "Advanced"). @mssun Any suggestions?

[2017-09-10 18:55] pocin commented on #120
It's not that I necessarily want that feature :-) I do have my private key backed up on paper, but I might come across a situation where I can't access the backup immediately so was just curious If it's possible to use the app as a sort of "backup" (given that iphone is pretty safe place for stuff with the touch ID enabled). I don't know too much about the security stuff so I don't want to make an

[2017-09-16 00:32] jotebe commented on #120
I think exporting is a very reasonable security risk and I would only advocate for it if GPG keys were able to be generated in-app, so a user could not generate a key that would be impossible to retrieve by default.

[2017-09-16 01:23] mssun commented on #120
@jotebe Yes, I agree with you. We have not supported generating keys in the app currently. Issue closed.

[2017-09-16 01:23] #120 closed

[2017-09-16 06:57] mssun opened #121 "Support iOS 11"
Some UI stuff are broken on iOS 11.

[2017-09-17 09:09] mssun opened #122 "Brute force passcode"
Attackers can brute force the passcode, which is only 4 digits.

[2017-09-17 22:36] raxod502 commented on #122
Agreed, see also #49.

[2017-09-17 22:40] raxod502 opened #123 "Error: Failed to fetch from remote"
I tried to sync my password repository, and got this error message after about 30 seconds. How can I find out what the error is?

About Repository and Recent Commit Log are as expected, and I can access my passwords. Last Synced is not updated due to the error.

[2017-09-18 10:22] yishilin14 commented on #123
What version are you using now? When did you sync last time? Would you please try to setup up everything again and see what happens? Hope I am not asking too much....

It is kind of weird. We haven't touched codes related to syncing for a while.

[2017-09-18 10:23] yishilin14 commented on #122
I think we need a better open source passcode lock framework. And suggestions?

[2017-09-19 05:05] mssun commented on #115
@yishilin14 Fixed in develop branch, right?

[2017-09-19 05:06] yishilin14 commented on #115
@mssun Yep

[2017-09-20 13:21] m31271n commented on #123
The same issue, I am using `0.2.8(10)`. Error occurs when pulling down password list to sync remote at Passwords Tab.

[2017-09-20 13:43] m31271n opened #124 "Can't sync from remote."
+ Test environments: 0.2.8 / 0.2.9
+ Steps:
   1. configure passforios to clone repo
   2. edit an existing password
   3. sync repo at Password Tab
   4. error occurs: `Error: Failed to connect remote`

Is this a missing feature? or just a bug ?

[2017-09-20 14:24] yishilin14 commented on #124
Thank you. May I know more about your setup for further investigation?
- Your repository configuration: ssh/https, Github? authentication method?

 I have no problem doing all these. And we haven't touched related codes for a while. I am wondering whether some updates of upstream libraries broke some things...

[2017-09-20 14:28] m31271n commented on #124
+ protocol type: ssh
+ host provider: BitBucket
+ auth method: SSH key

[2017-09-20 14:28] yishilin14 commented on #124
Thank you. Will try to reproduce during the weekend!

[2017-09-20 17:59] raxod502 commented on #123
I have deleted all local data and set up from scratch. Syncing now works as expected. I will leave this issue open because @m31271n has reported it also, but feel free to close it if desired.

[2017-09-20 18:02] m31271n commented on #123
@raxod502 Thanks. Maybe it's time to set up from scratch. ;)

[2017-09-20 19:06] raxod502 opened #125 "Option to not cache SSH passphrase"
I'd like to have passforios not cache my SSH passphrase, and instead prompt me for it every time I sync. This would be similar to the existing behavior, which is that there's an option to not cache the GPG passphrase.

[2017-09-21 12:18] m31271n commented on #123
@raxod502 Solved.

[2017-09-21 13:30] yishilin14 opened #126 ""Failed to fetch from remote" and a possible workaround"
**Issue**
- Syncing errors such as "Failed to fetch from remote"

**A possible workaround**
- Setup Git repository again. I know it is not convenient. But it seems like it has been working. For this reason, please push your local changes to remote in time.

This issue is hard to reproduce. If you guys have any suggestions or any ideas about how to reproduce the issue and how to "fix" this issues,

[2017-09-21 23:53] raxod502 commented on #123
Sounds like the error happens to people who haven't synced in a while, possibly long enough that the last time was before you guys made some backwards incompatible changes. Probably nothing to worry about going forward.

[2017-09-21 23:53] #123 closed

[2017-09-23 09:58] philsnow commented on #52
I'm also interested in this feature, not only because I use one gpg key per device but also because I use a yubikey on one device and can't export the secret key to the phone even if I wanted to.

Encrypting to two public keys (yubikey pubkey and phone pubkey) works on my laptop and I can decrypt secrets encrypted in this way on my phone, but I can't go the opposite direction because passforios wo

[2017-09-25 06:41] mssun opened #127 "Search bar not fit size"
I don't know why, search bar didn't fit it's super view. Maybe a bug of iOS 11.

![searchbar](https://user-images.githubusercontent.com/1270392/30795311-c5ea765e-a181-11e7-8b71-ebefd0ae3c33.png)

[2017-09-25 14:41] abak opened #128 "build error from fresh clone"
I there, just tried to build the project from scratch, following the instructions in the README, I got the following error:

[code]

for the following headers:

[code]

This is with XCode 9.0 on mac os 10.12.6. What am i doing wrong ?

[2017-09-25 14:48] mssun commented on #128
Please use develop branch. Thanks.

On Mon, Sep 25, 2017 at 7:42 AM Adrien BAK <notifications@github.com> wrote:

--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2017-09-25 15:45] abak commented on #128
👍

[2017-09-25 15:45] #128 closed

[2017-09-26 06:19] #121 closed

[2017-09-29 19:35] XenGi opened #129 "Can't clone repo"
Ahoi,

I tried to use passforios but I can't clone my repo. Importing my GPG keys worked and also the SSH key was imported from http.

My settings are:

  - Git Repository URL: `ssh://myuser@1.2.3.4:123/myrepo.git`
  - Username: `myuser`
  - Authentication method: `SSH Key`

Then it asks for my SSH key password but after I enter it I get this error:

`Failed to clone repository from ssh://myuser@1

[2017-09-29 20:06] mssun commented on #129
Can you clone the repo using `git` on a PC via `ssh://myuser@1.2.3.4:123/myrepo.git` address?

[2017-09-29 21:13] XenGi commented on #129
Turns out iOS didn't like my secure SSH server. I downgraded Kex and MACs and now it works.

[2017-09-29 21:13] #129 closed

[2017-09-29 21:20] anonopanda opened #130 "ObjectivePGP w/Swift compiler error: “non-modular header inside framework module”"
Can't build the project.

This is the result after running the install commands as instructed:
<img width="1242" alt="issue" src="https://user-images.githubusercontent.com/32401481/31036375-d6967302-a520-11e7-86a8-cf39ab8bce9c.png">

[2017-09-29 21:23] mssun commented on #130
Hi, please try to use the develop branch. Something was broken in the master branch. Will merge develop into master once our App Store submission is accepted.

[2017-10-01 18:06] anonopanda commented on #130
Tried on the development branch and I'm getting the same issue.

[2017-10-01 18:11] yishilin14 commented on #130
You may have to do `pod install` again after switching to the dev branch. The Podfile in the dev branch is different from that in the master branch.

[2017-10-02 22:38] supermarin opened #131 "Merge conflicts"

[2017-10-06 13:52] yishilin14 commented on #115
Fixed in AppStore v0.2.9 today and merged in the master branch c973bb7ebbe52b11d4c462a9ef626036cf0a86f9.

[2017-10-06 13:52] #115 closed

[2017-10-06 13:52] yishilin14 commented on #113
Fixed in AppStore v0.2.9 today and merged in the master branch c973bb7ebbe52b11d4c462a9ef626036cf0a86f9.

[2017-10-06 13:52] #113 closed

[2017-10-07 07:28] mssun commented on #127
We start to use the new design language introduced in iOS 11. Therefore, this is not an issue.

![image](https://user-images.githubusercontent.com/1270392/31305781-323ef046-aaf6-11e7-9fd4-04d49ad5945c.png)
![image](https://user-images.githubusercontent.com/1270392/31305783-4fd93e5e-aaf6-11e7-879e-5ffd065a4ea7.png)

[2017-10-07 07:29] mssun commented on #130
@anonopanda Can you build the project right now? If yes, I will close this issue. Thanks.

[2017-10-08 06:33] #130 closed

[2017-10-08 13:43] yishilin14 commented on #125
Feature available in the develop branch now (d0bad8660b2326191dee9f96c520a248e4b36266). Will be available in TestFlight soon.

[2017-10-08 13:57] yishilin14 commented on #131
The first issue is now fixed in the develop branch (d0bad86). We will upload a new TestFlight version soon. Previously, we assume that the only reason for seeing a syncing error is "wrong git password / SSH key passphrase". Thus, we remove the "wrong" password/passphrase if there is a syncing error. Now, we remove the previous SSH key passphrase only if the error message contains "wrong passphrase

[2017-10-09 16:10] goerz commented on #102
Either way to implement this should be fine. If the second one is easier, I'd go with that. It would definitely be a welcome feature.

[2017-10-09 19:27] goerz opened #132 "Indicate unparsed raw data"
Currently, lines that match the format `key: value` are shown in the "Additions" section. However, lines that don't match the pattern are simply ignored. They are still available through "Show Raw", but there is no indication that there is additional "raw" information.

I would propose to have a visual indicator when there are any lines that cannot be parsed into the normal interface (possibly jus

[2017-10-09 19:34] goerz opened #133 "support for multiline fields"
I was wondering if there was a general consensus on how custom multiline fields should be written, e.g. a multiline address field. Do any other `pass` clients handle this explicitly? My most natural instinct would be to use indentation like this:

    ...
    number: 8234 2123 2345 1224
    address:
        Michael Goerz
        1 Main St
        City, CA 12345
    expiration date: 31/12/2018

[2017-10-09 20:00] mssun commented on #133
The problem here is that there is no standard grammar to write an entry. We only support the "key: value" style in one line. For multiple-line fields, I think your proposal is pretty neat. Maybe we should define some format or use existing plain-text format (like yaml). In addition, we have to implement corresponding parser.

[2017-10-09 20:04] mssun commented on #132
Sure, that's a very good idea.

We can put a little **red dot** on the "Show Raw" button to indicate that there are something which cannot be parsed and shown.

BTW, do you think "Show Raw" is a good expression? Since I'm not a native English speaker, maybe it's not a proper word". How about "View in Raw" or "View Raw"?

[2017-10-09 20:05] goerz commented on #132
"Show Raw" sounds pretty good to me (better than the two alternatives)

[2017-10-09 20:07] mssun commented on #132
Good, thank you.

[2017-10-09 22:00] supermarin commented on #131
Amazing, thanks for getting on this fast @yishilin14!

[2017-10-10 02:35] yishilin14 opened #134 "QR code related bugs"
QR code related features are broken in the develop branch and in TestFlight v0.2.10(12).

[2017-10-10 06:27] yishilin14 commented on #134
Fixed in TestFlight v0.2.10(13).

[2017-10-10 06:30] yishilin14 commented on #124
In TestFlight v0.2.10(13), a more detailed pull/push error message (if any) will be displayed. Hope the new error message is more elaborated and helpful.

[2017-10-10 06:30] yishilin14 commented on #117
In TestFlight v0.2.10(13), a more detailed pull/push error message (if any) will be displayed. Hope the new error message is more elaborated and helpful.

[2017-10-10 06:45] m31271n commented on #124
Error message shows the reason. Thank you.

[2017-10-10 06:45] #124 closed

[2017-10-14 22:01] jamespoore opened #135 "Can't add password in a folder"
Hi,

Not sure if anyone else who uses a folder structure experiences this. When I try to add a password into a folder, it is created at the root of the pass structure. This is quite annoying as I like to have passwords nested within folders.

I have to use the cli on a computer to move it into the folder I originally desired and then pull the repo. Is this a bug or an enhancement?

Otherwise, grea

[2017-10-14 22:08] mssun commented on #135
Hi, please try to use `directory/sub-directory/.../password` as the name of a password entry to create a password inside the directory.

[2017-10-14 22:22] fruityten commented on #135
Thanks for your quick reply.

OK, thanks, that is a solution. For other users/bug fixing - it needs to be:

myfolder/test

because

/myfolder/test makes the app hang on 'saving' and then crash for me.

Thanks though!

[2017-10-15 14:18] yishilin14 commented on #135
New commit 49180d74e63fd6766ee236db67f2de0cd71d8854 to the dev branch: When users click the "add" button inside a folder (say "aaa/bbb/"), "aaa/bbb/" is displayed in the "name" field as a hint. Hopefully this improves user experiences.

You could "edit" the corresponding file and change its "name" from "www.mysite.com" to "myfolder/www.mysite.com" to. By doing so, your file will be moved to the co

[2017-10-15 19:55] posix4e opened #136 "keybase git urls"
Our power combined would be unstoppable!

[2017-10-23 01:24] intelfx opened #138 "Safari extension view should support `domain.tld/username` scheme too + suffix matching"
Hello,

In my pass repository layout, the entries are organized by using directory name as host and file name as login, further grouped under `web/` top-level directory. Example follows:
[code]

With this layout, the Safari extension becomes practically unusable. When the Safari extension view is activated, the URL host is pasted into the search bar of the view, but the view itself filters by the

[2017-10-23 02:02] yishilin14 commented on #138
Thank you for your suggestion. Will work on this this week.

[2017-10-25 15:21] posix4e commented on #42
Can we close this issue and open a new one for nfs support on ios?

[2017-10-25 15:22] posix4e commented on #49
What else is left to do?

[2017-10-25 15:26] posix4e commented on #125
WFM good to close?

[2017-10-25 16:26] raxod502 commented on #49
As far as I know, the feature is not implemented. So, we're looking for a better passcode lock framework as per https://github.com/mssun/passforios/issues/122#issuecomment-330180454.

[2017-10-25 16:26] raxod502 commented on #125
Yes, thanks.

[2017-10-25 16:26] #125 closed

[2017-10-26 04:25] mssun commented on #42
@posix4e Hi, I didn't get your point. Can you elaborate? Thanks.

For Yubikey thing, I didn't use it personally, and not sure how does it related to our app.

@qbit Can you talk about how to integrate it with the app? Thanks.

[2017-10-26 19:27] samdmarshall opened #139 "Support for multiple password repos"
I have a personal password repo and a separate one on my work computer. Having the app support being able to have multiple password "vaults", would be super useful.

[2017-10-28 01:45] t0rqd opened #140 "Missing 'git push' on my device"
This may be a user issue, it may be a flaw. i'm not sure.

I add a password on the phone, then pull down to update, but still see a (1) at the top of the Passwords tab. Checking the repository on the other side doesn't show a new entry, so either `git push` functionality is not working, or something us configured improperly.

Wiki page shows only `git pull` supported by pulling down on the list. I

[2017-10-28 03:49] yishilin14 commented on #140
1. "Pull down to update" does a `git pull` first, then a `git push` if there are some new commits. Did you see the syncing status changing from "Sync Password Store" to "Done"? Does the `git pull` work?

2. `git push` is also supported by "pulling down to sync". I just corrected the Wiki page.

[2017-10-28 12:19] yishilin14 commented on #139
Duplicate of #139.

[2017-10-28 12:21] #139 closed

[2017-10-28 14:17] samdmarshall commented on #139
whoops, sorry about that.

[2017-10-28 19:23] t0rqd commented on #140
No, there was a problem with the pull down and the `git pull` not grabbing things, and the `git push` was not happening, but the "Done" was presenting itself as well. Interestingly, the commit log had some newer things, but not everything.

I ended up doing a full clone again on my phone and it is now working, so this may be able to be closed at this point.

Thanks for updating the Wiki.

[2017-11-05 00:04] #127 closed

[2017-11-06 07:23] ilianaw opened #141 "Can’t swipe back from screen edge when viewing folder"
Minor accessibility issue — when viewing a folder, I can’t swipe from the left screen edge to the right to go back to the parent folder, like I can from a password entry.

Testflight build 0.2.10 (21)

[2017-11-07 00:53] #140 closed

[2017-11-09 17:56] kenny-evitt commented on #52
@mssun Any info at all that you could share to help someone else implement this?

[2017-11-11 03:50] mssun commented on #138
Merged in the master branch.

[2017-11-11 03:50] #138 closed

[2017-11-11 03:51] mssun commented on #135
Merged in the master branch.

[2017-11-11 03:51] #135 closed

[2017-11-11 03:51] mssun commented on #134
Merged in the master branch.

[2017-11-11 03:51] #134 closed

[2017-11-11 03:53] mssun commented on #141
This is an known issue. Since folders are changed in the same view (but animate similarly with multiple views), I don't know how to implement a "swipe back" function currently. I will dig into this issue.

[2017-11-11 22:29] Stanpol opened #142 "Failed to clone repository, Underlying error: Failed to start SSH session: Unable to exchange encryption keys"
I reinstalled the app from the appstore today and wanted to set up everything from scratch, but cloning my repo doesn't work anymore. I get the following error: Failed to clone repository ... Underlying error: Failed to start SSH session: Unable to exchange encryption keys.

So I made sure git url is right (well it was working before), tried to change ssh keys, tried to use password authentication

[2017-11-15 15:06] kenny-evitt commented on #52
Note to anyone else interested in this. This app is more than capable of 'reading' password entries for a Pass repo that are encrypted with multiple keys; I test this just now. It just can't currently *encrypt* entries that are added or modified with multiple keys.

I created a branch of the underlying Git repo for my Pass repo and cloned the remote with (just) that branch in the Pass app on my iP

[2017-11-15 15:13] kenny-evitt opened #143 "Support *git-remote-gcrypt* helper"
In a similar spirit to [*pass-tomb*](https://github.com/mssun/passforios/issues/114), I use Pass with the [*git-remote-gcrypt*](https://github.com/spwhitton/git-remote-gcrypt) Git helper to encrypt the file and directory names (and the entire Git history too) of my Pass repos.

*git-remote-gcrypt* is implemented entirely as 'shell' (sh) scripts but the encrypted repository format seems pretty stra

[2017-11-15 15:19] kenny-evitt commented on #136
This looks like it'll be at least a *little* tricky. The Git remote helper that Keybase implemented to handle the *keybase://...* URLs seems like it's part of their Keybase filesystem project; see this blog post and note the "open source" link in the "Underneath the hood" section. The helper is also implemented in Go, and uses an entire Git implementation written in Go too. I have no idea how hard

[2017-11-16 06:52] mssun commented on #143
Yes, I just heard from you.

About PR, you are welcome.

[2017-11-16 06:54] mssun commented on #142
Did you use some special key algorithm? Pass is based on ObjectivePGP, I'm not sure if it is caused by it. Could you try to generate a new key for testing?

[2017-11-16 07:01] mssun commented on #136
Hi, @kenny-evitt can you give me some background about keybase git url? I did use keybase for PGP key management, but not familiar with this. From your description, it seems difficult to implement the feature. Is it possible to build Go implementation as a C library? In this way, it could be possible to integrate in the app.

[2017-11-16 14:52] kenny-evitt commented on #136
@mssun Here's the blog post I meant to link in my previous comment:

 - [Keybase launches encrypted git](https://keybase.io/blog/encrypted-git-for-everyone)

Here's the link to the Keybase Git remote helper code from the same blog post:

 - https://github.com/keybase/kbfs/tree/master/kbfsgit/

[2017-11-16 14:56] kenny-evitt commented on #136
@mssun It does seem possible to call Go code from C:

 - [shared libraries - Call Go functions from C - Stack Overflow](https://stackoverflow.com/questions/6125683/call-go-functions-from-c)
 - [Using Go code in an existing C project - Stack Overflow](https://stackoverflow.com/questions/32215509/using-go-code-in-an-existing-c-project)

[2017-11-19 18:47] kenny-evitt opened #144 "Push doesn't seem to be working during pull-to-sync to private GitLab repo and not-*master* branch"
I edited a password on my iPhone and I see a matching commit in the log for the repo on my phone. But I still doesn't see that commit in GitLab.

Anything to try? Change the branch to *master*? [I'll try this.]

[2017-11-19 18:53] kenny-evitt commented on #144
I cloned my other branch as *master* and pushed it to GitLab. I re-synced on my phone. Now I see a red "1" over the "Passwords" button at the bottom of the app. I also see 1 local commit in the repo info. Re-syncing tho doesn't seem to push the commit.

[2017-11-19 18:56] kenny-evitt commented on #144
I closed and re-opened the app on my phone but still no luck.

[2017-11-20 15:46] kenny-evitt commented on #144
[I manually changed the password edit in a copy of my password repo on a computer using the original Pass script.]

I changed the default branch in GitLab for the repo from my other branch to *master*. I re-cloned the repo in the app on my phone. I added a password in the app on my phone. I synced. This time I saw a "Push Remote Repository" message. I confirmed that the new password – the commit a

[2017-11-25 13:40] asymmetric commented on #96
Is there any progress on this one? I find that having to enter my passphrase every time is the biggest impediment to using this app on a daily basis on my mobile devices, as opposed to 1Password.

[2017-11-26 17:13] Stanpol commented on #142
After debugging the connection, I figured out the mismatch between the algorithms.

Pass for iOS offers the following algorithms: diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1
And it offers following MACs: hmac-sha1,hmac-sha1-96,hmac-md5,hmac-md5-96,hmac-ripemd160,hmac-ripemd160@openssh.com

while default [StreisandEffect](https://github.com/StreisandEff

[2017-11-26 17:13] #142 closed

[2017-11-26 20:22] tsibley opened #145 "Consistently crashing when trying to decrypt a password file"
I successfully cloned my self-hosted git repository over SSH and imported a private/public GPG key pair for one of the keys to which the store is encrypted.  The password files show up, but tapping any of them to decrypt results in the app crashing after prompting me for my GPG passphrase (which I've verified is correct).

All password files in my store are encrypted to two keys: one for my laptop

[2017-11-27 01:25] yishilin14 commented on #96
I haven't had much time to work on this. Will try to implement this next month.

[2017-11-28 04:00] cjwirth opened #146 "Hang at 99% CPU when adding password repo."
Hey! Thanks for putting in the work to make this! I've been using it for a few months, but I'm having problems with the latest version.

When I put in my credentials to clone my password repo, it just hangs with 99% CPU.

The line it's stuck on is this line in `PasswordStore.swift`:

[code]

The `transferProgressBlock` is never called, and the progress HUD is never updated.

I thought it might be

[2017-11-28 04:13] cjwirth commented on #146
😕  Well now the App Store version is working for me too.

It only works if I _paste_ my password in... even though I _know_ the password I was manually inputting was correct.

[2017-11-28 04:15] mssun commented on #146
That's wired. I will check it tonight.

[2017-11-30 05:56] tsibley commented on #145
I've discovered that this happens when the files are encrypted using an Elgamal key, which ObjectivePGP doesn't support.

[2017-11-30 05:56] #145 closed

[2017-11-30 06:01] tsibley opened #147 "Respect multiple keys in .gpg-id files"
Pass uses `.gpg-id` files to specify which keys to use for encryption by default and also for specific subfolders.  Specifying more than one key is supported by the .gpg-id files and via `pass init`.  Pass for iOS seems to ignore these files and only encrypt files to the single GPG key that's defined in the app settings.  The upshot is that passwords created with the app aren't necessarily readabl

[2017-12-04 00:16] BugraK commented on #96
I think this kind of Touch ID support is a must. It is the main reason that I stay away from pass and use KeePass for the time being. If you could implement it, I am going to give it a try. Also please consider Dropbox and tomb extension support :)

[2017-12-15 03:25] lmike215 opened #148 "Dropbox support"
Any plans on having support for repositories hosted on Dropbox or Google Drive?

[2017-12-15 09:14] yishilin14 commented on #148
I don't think @mssun and I will have time to implement this in the near future. But we have been welcoming pull requests. :-)

[2017-12-15 16:57] giovi321 opened #149 "Feature: connection timeout"
I think it would be useful to specify a time-out value for the app
I normally use a vpn to sync the repository. Sometimes I trigger the sync without being connected to the vpn, and the app remains stuck for a very long time so I have to kill it and reopen it.

[2017-12-22 10:54] ls42 commented on #144
Looks like @kenny-evitt solved his issue - should this be closed then?

[2017-12-22 10:56] ls42 commented on #143
This seems to be an issue that can be safely closed until the PR from @kenny-evitt is in.

[2017-12-22 11:09] ls42 commented on #122
Um, sorry for the uninformed (stupid?) question, but I'm instered in working on this:

Has anyone looked into the [Security Framework](https://developer.apple.com/documentation/security) from apple? If I intrepret the first image correctly it should be able to restrict application access and access to specific user secrets (like repo acces data and private key) with methods from that framework. If

[2017-12-22 11:21] yishilin14 commented on #144
@ls42 Pass doesn't support non-master branch now. We are welcoming PR about this. I just added an "enhancement" tag to this issue.

[2017-12-22 11:24] yishilin14 commented on #143
@ls42 Just marked this as an "enhancement". Hopefully one day, this issue could be closed by an awesome PR. :-)

[2017-12-22 11:28] yishilin14 commented on #117
I am closing this issue now as there have been several updates of Pass. If there is any new push/pull related issues, please open a new one.

[2017-12-22 11:28] #117 closed

[2017-12-22 11:33] yishilin14 commented on #122
@ls42 I am not aware of this framework.

Issues #49 and #96 have been here for a really long time. We haven't found time to work on them yet. Looking forward to see a pull request.

[2018-01-01 19:47] samdmarshall opened #150 "Protecting users against malicious advertisers"
I read this piece in the verge this morning (https://www.theverge.com/2017/12/30/16829804/browser-password-manager-adthink-princeton-research) and was thinking about my password manager on iOS (hint hint) and wondering if there was any way that it could more securely display where it was inserting into before it inserts any data into the page.

I'm not very familiar with the APIs for handing off d

[2018-01-03 16:53] chasgames opened #151 "Face ID"
Firstly Great project! the app is super.

I was wondering how easy it will be to implement face ID?

Apple said they would convert touch ID to FaceID integration automatically, but for some reason it's not working in pass for me.

Thanks

[2018-01-04 09:59] yishilin14 commented on #151
Will check the upstream library PasscodeLock and see why Face ID is not working now.

[2018-01-04 15:30] chasgames commented on #151
Great thanks, on my iPhone X, when i toggle the Touch ID, it says:

"Notice

Please enable Touch ID of your phone and setup the passcode lock for Pass."

[2018-01-05 22:53] kevinpanaro commented on #151
I’m using FaceID right now.

Steps I did to turn it on.

Turn on passcode lock and setup a passcode.

Turn on Touch ID

Exit and then reopen the app.

[2018-01-10 11:15] chasgames commented on #151
Thanks, this works 👍

[2018-01-10 17:00] posix4e commented on #42
Yea ignore me actually

[2018-01-10 17:01] posix4e commented on #96
@BugraK wanna file separate issues for those?

[2018-01-10 21:27] qbit commented on #42
@mssun Sure - I can give it a crack.

So on Android using OpenKeychain you do the following:
- connect usb OTG cable, then yubikey
- OpenKeychain prompt for a PIN to unlock the yubikey
- once unlocked gpg-agent sees the yubikey as a regular gpg key
- decryption / signing can happen
- user disconnects yubikey - gpg key is no longer available.

I don't know enough about the iOS frameworks to know if

[2018-01-12 08:25] jarhill0 opened #152 "[Bug] [UI] Section headers do not scroll properly"
An image would explain best what's happening:

![screenshot](https://user-images.githubusercontent.com/10187488/34865716-96b14e50-f72e-11e7-84fc-1cdef19144c0.jpg)

The top of the "A" header is not sticking to the bottom of the search bar as it should, and items in the scroll list (such as "amazon" here) are showing through the gap.

I'm on an iPhone SE, iOS 10.3.2, Pass for iOS version 0.2.10.

--

[2018-01-12 08:27] #151 closed

[2018-01-12 22:46] snakelab opened #153 "Failed to clone repository .... Underlying error: Failed to start SSH session [Especially Github repo]"
Hi folks,

i am getting this error at trying to clone a git repo via ssh-key which i had uploaded:

Failed to clone repository .... Underlying error: Failed to start SSH session: Unable to exchange encryption keys

Does anyone here have a tip for me?

thanks

hartmut

[2018-01-15 01:42] robcohen opened #154 "Integration with Krypton"
Is there any chance that Pass for iOS could be integrated with [Krypton](https://github.com/kryptco/krypton-ios)? It would probably require some code addition to pass for iOS, pass, and Krypton (both phone and desktop).

If this were possible it would be pretty incredible. Anyone else think this is a good idea?

[2018-01-15 06:36] mssun commented on #152
Fixed in 3e8046eb29d4c6377300b2924be29e9cf5f60b64

Will be merged to stable this week.

[2018-01-17 00:36] mssun opened #155 "Tapping setting button in UITabBar does not pop to previous view"
- iOS 11.2.1
- 0.3.0 (2)

[2018-01-17 04:49] #155 closed

[2018-01-18 20:34] apropostech commented on #143
This would indeed be a great feature. In particular in light of recent meltdown / spectre vulnerabilities that raises questions regarding security of virtual servers for hosting sensitive git repositories.

[2018-01-19 22:29] #152 closed

[2018-01-19 22:33] jarhill0 commented on #152
Thanks for the fix!

[2018-01-20 01:15] mssun commented on #153
Which key algorithm are you using?

[2018-01-20 02:02] mssun commented on #146
Hi, how about the the latest version in the App Store (0.3.0)? I updated several dependencies.

[2018-01-20 02:04] mssun commented on #91
Guys, 0.3.0 is online. Thanks for your support.

[2018-01-20 02:04] #91 closed

[2018-01-20 02:41] mssun commented on #150
Hi, I read the original research blog. This will affect browsers auto-fill function. For other third-party password managers (including app and browser extension) like us, we should not have the auto-fill function in case of some "malicious" scripts.

Here is a comment of Jeffrey Goldberg, a staff from 1Password:

https://freedom-to-tinker.com/2017/12/27/no-boundaries-for-user-identities-web-track

[2018-01-20 02:56] mssun commented on #154
Using Krypton to manage SSH key? Probably, yes, but we have to solve other issues first. I guess @yishilin14  and I did not have enough time to implement this in a short time. I will leave this feature for someone who is interested.

[2018-01-20 03:07] mssun commented on #98
Can we close this issue? @yishilin14

I don't think these features in the TODO list are technically possible in iOS:
  - Create a new entry from the extension
  - Generate a new password from the extension

We should ignore this one for many reasons:
  - Autofill addresses/credit cards...

@asymmetric, for your "configurable in the UI" suggestion, I think this may be a "over-engineering" idea. Cur

[2018-01-20 03:10] yishilin14 commented on #98
I think we can close this one for now.
For more advanced features, I don't think I have enough time to implement them any time soon.

[2018-01-20 03:10] #98 closed

[2018-01-20 05:54] #150 closed

[2018-01-21 17:29] apropostech opened #156 "Integration with spotlight [feature suggestion]"
Would be nice to be able to search the password store from spotlight through spotlight api.

[2018-01-22 07:40] apropostech commented on #156
I suspected that it was handled in the same way as password store, i.e. unencrypted directories. Thanks for the confirmation. The unencrypted directory structure does indeed make it particularly suitable for spotlight integration. Users are also presumably familiar with it which I think makes it less likely that some sensitive information would inadvertently end up in spotlight search (since that

[2018-01-22 07:44] mssun commented on #156
Sure. Other than potential privacy concern, I think it doesn't require many new logic for this feature. I may work on it if I have time, but I am also looking forward to PRs. :)

[2018-01-22 08:01] apropostech commented on #156
Indeed, privacy may be an issue depending on how phone is set up. With a passcode for activating phone it's presumably not less secure than accessing through app except that it opens for temporary users (e.g. if someone loans the phone) to see a list of your passwords. It should still be necessary to click through from spotlight to the passforios app to access the actual password though so not nec

[2018-01-22 20:36] hadeshimself opened #157 "Sync over HTTPS with authentication not working"
I'm trying to sync over HTTPs but I'm always getting 401 errors from my server due to no authentication being sent. Here's a sample Apache log from earlier today:

2804:XXX:3a01 - - [22/Jan/2018:11:36:03 -0200] "GET /git/pass.git//info/refs?service=git-upload-pack HTTP/1.1" 401 3716 "-" "git/2.0 (libgit2 0.25.1)"

The app will try to fetch this URL even before asking me for a password. After askin

[2018-01-22 21:01] snakelab commented on #153
hi, thanks for your help. My key is 2048 SHA256 RSA

[2018-01-27 06:51] Infinisil commented on #153
Getting the same error here, same key type (which is the default for `ssh-keygen`)

I get the following error from sshd:

    Jan 27 07:49:57 paul sshd[8630]: Unable to negotiate with 178.197.226.88 port 21947:
      no matching key exchange method found. Their offer: diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha1,diffie-hellman-group1-sha1 [preauth]

[2018-01-27 11:39] tonymarsh commented on #147
@stigtsp Any insight into how you got this working? I tried bundling my public keys into gpg_key.pub and cannot decrypt anything. a single key in the .pub, and everything works.

[2018-01-27 16:01] posix4e commented on #42
https://www.yubico.com/2017/10/iphone-support-yubikey-otp-via-nfc/

[2018-01-29 09:58] stigtsp commented on #147
Hi @tonymarsh

I concatinated two public keys using ```cat pub1 pub2 > pub_both``` and pasted these keys in the input box

[2018-01-30 19:41] tonymarsh commented on #147
@stigtsp Awesome, thanks for letting me know. fwiw, catting them together, and importing via itunes also worked for me.

[2018-02-02 11:56] snakelab commented on #153
ping

[2018-02-02 12:57] Infinisil commented on #153
Well I know what's the problem and it might be a serious security concern. According to [Mozilla's security guidelines](https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Modern_.28OpenSSH_6.7.2B.29), these are the recommended sshd options:

[code]

And everything else should be considered insecure. Apparently the ssh library used in passforios doesn't support any of those! Especially SHA1 is co

[2018-02-04 01:43] mssun commented on #153
@Infinisil  Thanks. I didn't notice this cause before. I found that objective-git points to the libgit2 (libssh2 @ f1cfa55) which is **five years old**.

[2018-02-05 13:18] snakelab commented on #153
great work. As adding this algos is not an option for me, could it be fixed in passforios?!

[2018-02-05 19:42] tillkrischer opened #158 "App Extension not working"
I managed to set up the Safari Extension, but I can not seem to get the App extension to work.

When I press the 1Password button in a supported App the list comes up empty.
If I install 1Password or LastPass, those show up fine in the menu.

Is there something I am missing, to enable this feature?

[2018-02-07 02:28] clarkb7 opened #159 "App crashes when decrypting multi-recipient file"
**Current behavior**
The application will crash when trying to decrypt a file that has multiple recipients

**Reproducing**
1. `gpg --recipient "key1 name" --recipient "key2 name" --encrypt filepath`
2. Update repo and try to view file
3. app crashes

**Expected behavior**
* If the key is available the file should be decrypted and displayed like files with singular recipients
* If the key is unava

[2018-02-10 16:41] martinhoefling commented on #98
@yishilin14 and @mssun, concerning the detection of login fields: In my [gopass](https://github.com/justwatchcom/gopass) browser extension [gopassbridge](https://github.com/martinhoefling/gopassbridge), I wrote a [content script](https://github.com/martinhoefling/gopassbridge/blob/master/web-extension/content.js) for detecting username and password fields. It's almost fully covered by tests and ha

[2018-02-16 17:51] iavael opened #160 "App crashes after adding ecdsa pgp key"
After adding ecdsa key app immideately crashes and then starts crashing on start.

[2018-02-16 18:06] iavael commented on #160
Here are crash reports:
* [key add crash](https://github.com/mssun/passforios/files/1732336/pass-2018-02-16-204724.ips.gz)
* [startup crash](https://github.com/mssun/passforios/files/1732326/pass-2018-02-16-204730.ips.gz)

[2018-02-18 13:23] newtonne opened #161 "Allow multiple URLs per item"
Firstly, I just wanted to say how much I love this app. It's rare to see an open source app really nail the user experience and adhere to the platform design conventions like Pass does.

I think it would be cool if Pass recognised multiple URLs for a single item for cases where you wish to use the same login credentials, but it doesn't make sense to create a new item. For example:

- citi.com, cit

[2018-02-18 13:25] newtonne opened #162 "Don't flush favicons after sync"
After syncing, it seems that the favicons are flushed and are only refetched once you browse to a particular item. I think the experience would be better if Pass only refetched the favicon if the URL changed, or if it refetched them all in the background shortly after syncing.

[2018-02-23 07:51] benjbellon commented on #160
I am also receiving this error. Upon adding ecdsa keys, the app immediately crashes and then crashes immediately upon starting the app.

Crash reports:
[key add crash](https://github.com/mssun/passforios/files/1750807/pass-2018-02-22-234238.ips.gz)
[startup crash](https://github.com/mssun/passforios/files/1750809/pass-2018-02-22-234820.ips.gz)

[2018-02-24 00:54] awmartin commented on #153
Is there a workaround for this? My host discontinued support for some of these key exchange methods, making passforios useless as-is.

[2018-02-24 05:49] nathantannar4 commented on #122
There is `BiometricAuthenticator` which leverages apples core security and prompts the user for the iOS system password for access

[2018-02-24 05:52] yishilin14 commented on #122
@nathantannar4 I am working on this. There is a new branch with usable but not fully tested features. Will try to merge the new branch into develop asap. :-)

[2018-02-25 01:31] posix4e commented on #153
Same github just broke me

[2018-02-25 01:33] awmartin commented on #153
No doubt this: https://githubengineering.com/crypto-deprecation-notice/

[2018-02-25 01:41] posix4e commented on #153
I just had to switch to gitlab

[2018-02-26 01:36] benjbellon commented on #160
Looks like this is an error in ObjectivePGP. It appears that the library cannot successfully parse the ecdsa format. The apparent offending lines are in the various packet parsers:

Example:
https://github.com/krzyzanowskim/ObjectivePGP/blob/3ac2b25d279fb93b93c02907ff51cd49a071cea0/ObjectivePGP/Packets/PGPPublicKeyPacket.m#L139

I will file a bug with the project.

[2018-02-26 01:52] benjbellon commented on #160
@mssun and @iavael see the linked issue above. ecdsa is currently unsupported.

[2018-02-26 21:39] schmunk42 commented on #88
Any news about this feature? QtPass handles this pretty nice, btw.

[2018-02-28 12:17] suvash commented on #147
or, one could also
[code]

[2018-02-28 14:47] yishilin14 commented on #88
A major operation is needed in order to implement this feature. We don't have time to do this, sadly. Pull requests are always welcomed.

[2018-03-01 05:58] eligundry opened #164 "Unable to clone repo from Github"
Hey all, I tried starting fresh and reinstalled the app from the app store. When I attempt to clone the repo, I get the following error message: `Underlying error: credentials callback returned an invalid cred type`. This happens with both a ed25519 and plain old rsa private key.

Also, if it helps, I am on iOS 11.3 beta 3.

[2018-03-01 15:51] jtunison commented on #153
Looks like libssh2 version got bumped in objective-git on Feb 15: https://github.com/libgit2/objective-git/commit/17112f5321d9f781f43bcc8d50662c4189fa0089

But no objective-git release since then...

[2018-03-01 15:51] jtunison commented on #164
See also https://github.com/mssun/passforios/issues/153

[2018-03-01 15:51] jtunison commented on #153
See also https://github.com/mssun/passforios/issues/164

[2018-03-01 16:32] yishilin14 commented on #158
My "Pass" appears in the menu in supported Apps. But the auto-filling does not work anymore.
Will try to fix in soon.

[2018-03-01 16:53] yishilin14 commented on #161
Thank you for your feedback. :-)

Oops, this is a bug. I didn't test this case. Will fix soon.

passforios stores encrypted files only. It decrypts files only when a password is needed.
Given a domain such as 'github.com', the extension tries to identify matching files according to their filenames.
In your case, one possible workaround would be renaming your files to common substring of URLs, such

[2018-03-01 17:05] yishilin14 commented on #160
@benjbellon Thank you.

[2018-03-01 17:14] yishilin14 commented on #157
Hi, sorry for the late reply. Are you able to sync now?

---
From our Wiki: https://github.com/mssun/passforios/wiki#https-url-example

HTTPS URL example
Git repository URL: https://gitlab.com/passforios-demo/demo.git
Username: passforios-demo
Supported authentication Method: Password, SSH Keys
Remarks: https is a must

[2018-03-01 17:21] yishilin14 commented on #146
Feel free to reopen if this issue still exists in the latest version.

[2018-03-01 17:21] #146 closed

[2018-03-02 10:36] snakelab commented on #153
This issue seems to have quite an impact to the project here, so i also opened an issue at the objective-git project and got good news:

https://github.com/libgit2/objective-git/issues/641#event-1500135494

So it seems that passforios just need to update the objective-git libs and we all would be happy!!!!
Please just do it.... thanks @mssun

[2018-03-02 18:38] mssun commented on #153
I will work on this weekend. Thanks.

[2018-03-03 13:03] SimplyDanny commented on #132
I just want to point out, that values which do not match the `key: value` syntax are not ignored. They are displayed using the keys `unknown 1`, `unknown 2`, ... and the content of the lines as values. Only if you activate "Hide Unknown Fields" they will be hidden.

[2018-03-04 18:59] matthewburnett opened #165 "Immediate crash when using a ECC with ed25519 curve GPG key"
Inputted key in ASCII format causes app to crash and will not open again, requires reinstall.

[2018-03-04 22:50] matthewburnett commented on #165
#160

[2018-03-04 22:50] #165 closed

[2018-03-06 15:13] tobiastom commented on #153
Just for the record: this will most likely not add `Ed25519` support, as that is not supported by libssh2 for now: https://github.com/libssh2/libssh2/issues/39

[2018-03-17 14:25] foodbag opened #166 "x-callback-url compatibly"
Would it be possible to integrate some sort of url callback interface for retrieving specific passwords? This would make it easier to grab specific passwords in something like a workflow or pythonista script without storing passwords in clear text.

[2018-03-20 10:32] Watnuss opened #167 "Failed to clone git repository"
Hi,

I tried several things but always ending up with the same error message, if I try to add my (privately hosted) pass repo.
[code]
As I was not able to find anything for this specific error message online, I hope I can get some help here. If you need more information or if I addressed the wrong instance, please let me know.

[2018-03-21 18:06] supermarin commented on #153
any updates on this?

[2018-03-22 12:58] simmel opened #168 "Crash when importing RSA PGP-key and won't start after"
I started evaluating passforios for storing my password and I'm doing so with a newly generated PGP-key. I got it to work the first time I tried importing my PGP-key (but I think passforios crashed then too, but at least it started then).

After that I tried to use an EC key but that failed of course (I've since then read the issues related to this). But now everytime I import an PGP-key pass cras

[2018-03-23 05:57] Nobutarou opened #169 "Enhancement: Make more difficult to enter the app."
Hello,

If I set "Remember PGP Key Passphrase" off, then I have to type PGP password every when I access to my data. It is too much inconvenient for all who use PGP Key Passphrase, to set "Remember PGP Key Passphrase" on.

In this case, if another person took my phone, he only have to break 4 numbers pin code of "Passcode Lock"

I don't think it is secure. Therefore I ask you one of some enhanceme

[2018-03-23 06:34] Nobutarou commented on #169
I notice that the app asks PGP key passphrase after I shutdown the app. Please ignore this issue. thanks,

[2018-03-23 06:34] #169 closed

[2018-03-24 23:52] mssun commented on #153
Hi, I have updated to the latest objective-pgp (`0.10.0-beta3`) in the develop branch and release a TestFlight. Please check out and test if it is ok now. Thanks.

[2018-03-25 00:30] mssun commented on #153
Hi all, I'm trying to close this issue today. The only thing I can do is to use the master branch of objective-git. I don't know why I cannot use it via carthage. (https://github.com/libgit2/objective-git/issues/646) Do you guys know why this could happen?

[2018-03-25 20:38] snakelab commented on #153
Please send me a invite to testflight: h.koenig@snakelab.de

[2018-03-25 23:00] jsmestad commented on #168
Having this same issue

[2018-03-26 21:05] shadyproject opened #170 "Failed to clone repository: Failed to start SSH Session: Unable to exchange encryption keys."
I have pass configured to use ssh with a public key authentication and a github account.  After initial setup, when I try to clone my pass repository, I get the following message:

[code]

Any ideas as to how to fix this?

[2018-03-27 06:30] alexmironof opened #171 "Unable to clone repo"
Fatal error: path/to/repo.git doesn’t appear to be a git repository.

Maybe my server is misconfigured? But I still can clone it with git from my PC

[2018-03-27 06:55] mssun commented on #171
Thank you for the report. I don't know if it is related with this issue: https://github.com/mssun/passforios/issues/153, but I definitely have to solve it as soon as possible.

[2018-03-27 07:09] alexmironof commented on #171
Thanks for the response! Also I’m using ssh connection

[2018-03-30 20:46] mayo commented on #147
This assumes that the keys are two different master keys and it doesn't work (as far as I can tell) for subkeys.

I have single master key and bunch of subkeys. Each device (laptop, phone, etc) gets it's subkey, and my master key lives on offline storage. Because Pass for iOS ignores the `.gpg-id` file, it tries to encrypt/decrypt with the first key it finds (I'm assuming), which is the master key

[2018-04-01 11:50] hermannsblum opened #172 "Comparibility with In-App Logins"
Many Apps allow to fill in login-credentials through password managers such as 1password. Clicking a button, this opens a share-menu-like dialog:
![GitHawk Upload by hermannsblum](https://i.imgur.com/YjbXMRE.jpg)
As this dialog lists more apps than just 1password, I suppose that it would also be possible to easily integrate passforios, as the search and fill-in should work in the same way as for s

[2018-04-01 21:33] snakelab commented on #153
Hi @mssun, it is so sad, but it is not working for me ... i got the same error at using ssh-key for my repo ... :-/

[2018-04-02 01:25] mssun commented on #171
@alexmironof What key algorithm are you using?

[2018-04-02 08:12] alexmironof commented on #171
@mssun I’m using recommended ssh generation method for github: it’s 4096 rsa

[2018-04-02 16:10] raxod502 commented on #170
This started happening to me with a recent update, with no changes to my settings.

[2018-04-02 17:22] savyajha commented on #170
This has something to do with [Issue 153](https://github.com/mssun/passforios/issues/153)

[2018-04-02 18:25] raxod502 opened #173 "Progress dialog and yes-no dialog are shown on top of one another"
When cloning a repository using an SSH key which requires a passphrase, I see the following UI:

<details><summary>click to expand</summary><p>

![image](https://user-images.githubusercontent.com/6559064/38209137-3d0fcb82-3668-11e8-89ef-a10a1fbbba12.png)
</p></details>

<p>

The popup on the bottom is this:

<details><summary>click to expand</summary><p>

![image](https://user-images.githubusercon

[2018-04-02 18:27] raxod502 commented on #170
Temporary workaround for me is to host my repository on GitLab rather than GitHub. (Actually, I have it on both, with GitLab mirroring automatically.)

[2018-04-03 23:29] yishilin14 commented on #158
I just tested it with our latest TestFlight version 0.3.1(7), it works for me. Version 0.3.0(5) also works for me. Could you please try again?

——
In order to see Pass in the menu together with 1Password, you have to enable the Pass extension manually. Please refer to the last section of our wiki about how to do so : https://github.com/mssun/passforios/wiki

[2018-04-04 00:30] mssun commented on #172
It works for me too. You need to tap more and select Pass in the extension manually. Thanks for the report.

[2018-04-04 00:32] mssun commented on #158
@yishilin14 Can we enable this function by default?

[2018-04-05 07:31] tillkrischer commented on #158
<img src="https://media.giphy.com/media/TGq7llSTMoQAFonqB2/giphy.gif">

Still have the issue of Pass not showing up in the menu.
This is on the Testflight 0.3.1(7)

[2018-04-06 16:56] mssun commented on #158
![1331523033572_ pic](https://user-images.githubusercontent.com/1270392/38433673-9f78233a-3980-11e8-8783-2593a4cccaa5.jpg)
![1361523033603_ pic](https://user-images.githubusercontent.com/1270392/38433681-a9bc32e6-3980-11e8-9a93-8067781a5503.jpg)

I can use it, very interesting.

[2018-04-06 16:57] yishilin14 commented on #158
@tillkrischer  Are you able to get Pass work on filling any other apps?

[2018-04-08 06:40] savyajha commented on #153
Has there been any progress on this? Using pass with bad encryption is worse than not using it at all. :/

[2018-04-08 07:25] tillkrischer commented on #158
@yishilin14  I also tried Overcast and Dropbox (same thing)

Something seems to be messed up with my activities menu. I have Dropbox installed, but I don't see the "Save to Dropbox" option either.

[2018-04-08 11:06] yishilin14 commented on #168
@simmel @jsmestad May I know how you guys generate your keys? I would like to generate keys by myself and do a fully test. In most cases, Pass crashes during adding PGP keys because keys are not supported by ObjectivePGP.

For example, as far as I know, EC keys are not supported by ObjectivePGP (https://github.com/krzyzanowskim/ObjectivePGP/issues/108).

[2018-04-08 12:14] simmel commented on #168
Hey!

I just used `gpg --gen-key`.

My keys are just temporary test keys (which has no value what so ever)
so I'm emailing them to you.

I wonder if it has something to do with a key having multiple subkeys?

On Sun, 2018-04-08 at 11:06:21 +0000, Yishi Lin wrote:

[2018-04-08 13:13] savyajha commented on #153
Oh wow. This is going to take a while, then. No worries, and thanks for letting me know. :)

[2018-04-08 17:41] mssun commented on #158
@tillkrischer ture. Very strange, could be a bug in iOS.

[2018-04-09 00:49] oanhof commented on #172
Hi. I have the same problem. It works in safari but does not show up in other apps. It is not available to activate in the more section.

Did some research and it seems to work when changing the Info.plist of the passExtenstion to look something like this:

[code]

sources:
https://stackoverflow.com/a/38819917
https://github.com/bitwarden/mobile/blob/master/src/iOS.Extension/Info.plist

[2018-04-09 04:37] yishilin14 commented on #172
@oanhof Thank you so much! I will give it a try asap.

[2018-04-09 08:58] johnmee commented on #153
Major bummer.  So if my repo is on github is there a (temporary) workaround?

eg: If I put it somewhere that is not github (my own server) and loosen the permitted algorithms, will that let me push passwords from the phone again?

[2018-04-09 10:41] yishilin14 commented on #170
I am trying to move all related discussions to #153 . So I am closing this issue now. :-)

[2018-04-09 10:41] #170 closed

[2018-04-09 10:42] yishilin14 commented on #153
A temporary workaround suggested by @raxod502 in #170

GitLab Documentation - Repository mirroring: https://docs.gitlab.com/ee/workflow/repository_mirroring.html

[2018-04-09 10:47] yishilin14 commented on #164
I am trying to move all related discussions to #153 . New updates will be posted there. So I am closing this issue now. Feel free to reopen if necessary. :-)

[2018-04-09 10:47] #164 closed

[2018-04-09 10:49] yishilin14 commented on #171
Are you cloning Github repo? If so, I would like to close this issue and move all related discussions to #153 . New updates will be posted there.

[2018-04-09 10:52] yishilin14 commented on #167
Emmm. It is kind of hard to see the reason behind. Not sure whether adding the port in the url would be helpful.

[2018-04-09 13:12] alexmironof commented on #171
@yishilin14 No, I'm using my own dedicated server. I've got `OpenSSH _7.4p1` and `git version 2.11.0`

[2018-04-09 15:10] hermannsblum commented on #172
Huups, sorry
And yes, I can confirm that pass did not show up in the options for apps to add, however I did not have that much insight in it, hopefully the suggestion from @oanhof fixes this.

[2018-04-11 05:41] CCheCastaldo opened #174 "Pass shouldn't display the secret key in the UI"
If I enable remember pgp key passphrase then the only thing stopping someone with access to my phone is pass’s passcode lock and/or the touch id. If I turn off remember pgp key passphrase then I have added an extra layer of security - even if someone accessed the pass app, unless they knew my pgp secret key passphrase they couldn’t decode my keys. However, I noticed that even with the pgp passphra

[2018-04-11 05:59] ttyz commented on #174
What you see is the encrypted key. You would need to decrypt it first to use it, and you would need to enter the password for that. I personally see no issue in showing the encrypted key.

[2018-04-11 06:16] yishilin14 commented on #172
Feel free to test v0.3.7(12) in TestFlight and see whether Pass shows up as an extension. :-)
Related commit: a45127be41bb2c167653f74499ed4ade5b2d36b0

[2018-04-11 06:16] yishilin14 commented on #158
Feel free to test v0.3.7(12) in TestFlight and see whether Pass shows up as an extension. :-)

[2018-04-11 06:24] yishilin14 commented on #49
Pass v0.3.7(12) supports longer passwords now! I implemented a simple passcode lock (with an ugly UI). =D

[2018-04-11 06:28] yishilin14 commented on #122
Pass v0.3.1(12) supports longer passwords now! Feel free to give it a try. I will come back and close this issue a bit later. :-)

[2018-04-11 07:32] tillkrischer commented on #158
@yishilin14 Works for me now, Thank you so much!

[2018-04-11 07:39] oanhof commented on #172
Works for me now with the Testflight version. 👍

[2018-04-11 14:18] Nobutarou opened #175 "Cannot show password when the name has "ガ" char."
I am using Bitbucket and see it,
![img_2307](https://user-images.githubusercontent.com/1369439/38622321-e158a02a-3ddd-11e8-8e3e-0bc0b3aeb6fc.PNG)

Would you check it? You can create the file by copy and paste under utf8 locale,
[code]
( http://ge.tt/2m1JWNp2 if you need to download)

I see same error when I use "スルガ". Therefore I think containing "ガ" is issue.

Thanks,

[2018-04-11 14:39] Nobutarou commented on #175
Hi,
When I see the file on iPhone, I see "%E3%82%AC.gpg". This is hexadecimal UTF8 code.
![bitbucketview](https://user-images.githubusercontent.com/1369439/38623777-79d73732-3de1-11e8-8344-3f372dcfb339.png)

But when I run "pass" command, I see octal UTF8 code.
[code]

Does the difference relate to the issue?

Thanks,

[2018-04-11 16:46] CCheCastaldo commented on #174
You are right. I forgot that armor not only converts my key from binary to ASCII but it also encrypts it. For me, my private key is encrypted with the SHA-1 of my passphrase, which is used as the key for AES-128 to encrypt my private key.

Not to be combative about this, but if some is able to see the armor encrypted version of my private key, then couldn't they use it to brute force attack my pas

[2018-04-11 23:34] Nobutarou commented on #175
Hi,

Yes, I did ``pass generate`` and ``git push`` from my laptop.

As you mentioned, when I create on passforios, I can see it on passforios. But I see different text on bitbucket.
![img_2310](https://user-images.githubusercontent.com/1369439/38647927-bfdb24d0-3e29-11e8-96e9-5b05fdeb0f04.PNG)

From my laptop, it was %e3%82%ac, this is "ガ" char itself.
From passforios, it is %e3%82%ab%e3%82%99, th

[2018-04-14 01:36] Nobutarou commented on #175
My best practis is using 半角仮名 (ｶﾞ) instead of 全角仮名 (ガ).

Would you comment whether passforios can solve it or difficult? If difficult, I will close it.

Thanks,

[2018-04-15 20:18] ihtiht opened #176 "New logo for Pass"
Hi, I designed a logo for the Pass application. The main idea in this design is to demonstrate Pass's function. I hope you like it? If you like, I can give all the necessary logo files in the format and size you want.

![pass_final](https://user-images.githubusercontent.com/36369736/38783345-29698d42-4109-11e8-90b2-0ddb00224b7e.jpg)

![pass](https://user-images.githubusercontent.com/36369736/38783

[2018-04-18 02:13] blahgeek opened #177 "Does not work with firefox for iOS"
iOS version:11.3
Firefox version: 11.0

The extension page would show up but nothing is filled after selected.
I can confirm that LastPass works with firefox.

[2018-04-18 20:48] djmoch commented on #176
This looks great, but if I can offer my (unsolicited) opinion, I’m fond of the simplicity of the current logo. Just one guy’s opinion!

[2018-04-18 20:52] djmoch commented on #174
I agree with the OP on this. Even granting the secret key is encrypted in its ASCII format, you’ve basically created an exfiltration channel for someone to export that key and conduct an offline attack.

[2018-04-19 08:55] blahgeek commented on #177
Just filed an PR to firefox https://github.com/mozilla-mobile/firefox-ios/pull/3835

[2018-04-19 10:58] yishilin14 commented on #177
@blahgeek wow! that was quick!

[2018-04-20 22:09] krzyzanowskim commented on #168
@simmel Can I take a look at the temporary test keys too?

[2018-04-21 16:47] simmel commented on #168
Nice try hackerman! ; P (I've sent them)

On Fri, 2018-04-20 at 15:09:51 -0700, Marcin Krzyzanowski wrote:

[2018-04-22 14:56] blahgeek commented on #177
...or maybe, we can just change the bundle identifier of current extension to include "password" pattern, e.g. "me.mssun.passforios.find-login-password-action-extension"? Is this possible?

[2018-04-22 22:03] mssun commented on #176
Amazing design! Thanks @ihtiht. I agree with @djmoch, current logo looks very minimal. I still prefer the current one. BTW, I used Sketch to draw the current logo, and the source file is also included in the code base: the `icon.sketch` file.

[2018-04-24 19:27] chasgames opened #178 "Swipe right to go back"
Hello

I really like the folders view, but it seems to be the only page missing swipe to go back.

To replicate:
Settings -> General -> Show Folders (enable)
Go into a folder
Back button appears top left, but swipe right won't work like it does in the settings and password pages.

Many Thanks!

[2018-04-24 20:32] snakelab commented on #153
@mssun Hi bob, why don't you try this version with a newer openssl bib:

https://github.com/tiennou/objective-git/commits/master

[2018-04-24 22:41] chasgames commented on #178
Strange not for me on iPhoneX also noticed the Back button doesn’t have the back arrow like on the other pages.

screen recording:

https://media0.giphy.com/media/7JO7aPPBq7fV9NzGjz/giphy.gif

[2018-04-25 14:12] david-bergstrom opened #179 "Text-field containing password treated as regular text"
The field containing the password on the screen where passwords are created/edited is treated as a regular text input field. This causes two problems:

1. It is a security issue as a third-party keyboard can read the password and later suggest it back to the user when the user is using some other app.
2. It makes it cumbersome to manually enter a password as the keyboard might try to autocorrect t

[2018-04-25 14:14] yishilin14 commented on #179
@david-bergstrom Good point!

[2018-04-25 17:07] mssun commented on #153
@snakelab Did you mean this: https://github.com/tiennou/objective-git/commits/update/libgit2-0.27?

It seems that supporting latest openssl lib is still work-in-progress.

[2018-04-25 17:12] yishilin14 commented on #179
@mssun Setting textContentType="password" doesn't solve the problem.

[2018-04-25 17:25] yishilin14 commented on #179
I Googled a bit. And I can't find an elegant solution for now.

There are two options with pros and cons.
- Set "textField.secureTextEntry = YES".
    - Pros: Only the system keyboard is allowed.
    - Cons: The password will be masked. Can't see the password, especially the generated ones.
- Disable 3rd party keyboard in the app.
    - Pros: Secure, of course.
    - Cons: Might be extremely incon

[2018-04-25 19:39] savyajha commented on #179
Nothing wrong with masking the password. It's done in nearly every app which requires password input. I'd suggest using `textField.secureTextEntry = YES` and masking the password.

[2018-04-25 20:04] mssun commented on #179
I think we can do it like 1Password:

![Image](https://i.imgur.com/Dkkttqs.jpg)

[2018-04-26 01:24] yishilin14 commented on #179
@savyajha Personally, I would like to take a look at the password before saving it.

@mssun Looks like a good idea.

[2018-04-26 04:56] savyajha commented on #179
@yishilin14 I'm so used to autogenerating passwords I don't even remember the last time I looked at them. XD

[2018-04-26 10:30] jaydisc opened #180 "OTP support in the extension"
Unfortunately, there doesn't seem to be a way to get an OTP from the extension?

[2018-04-26 10:39] jaydisc commented on #178
I'm experiencing the same two symptoms on my X (the normal swipe back gesture not working, and no back arrow)

Pass 0.3.1 (15)
iOS 11.3

[2018-04-26 10:43] jaydisc commented on #162
What is required to show favicons? I don't see any.

[2018-04-26 10:56] yishilin14 commented on #162
Pass tries to fetch an icon from the url in every password entry.

[2018-04-26 11:02] yishilin14 commented on #178
In fact, click a folder does not push a new view controller. Pass just refreshes the current view.

That's why the normal swipe back gesture does not work, and mssun mentioned "swipe right (a mimic gesture, not exactly same as the swipe in the Settings page)".

As for the back button, it is inserted by code. And that's why the "<" symbol is not there.

[2018-04-26 11:04] yishilin14 commented on #180
Good point. I think when both password and opt are detected in an entry, Pass should ask which password should be copied.

[2018-04-26 22:31] jaydisc commented on #178
Bummer. It'd be nice if one day it switched to pushing the new view controller instead. As phones get bigger, those top navigation elements are harder and harder to reach.

[2018-04-27 05:14] yishilin14 commented on #177
I think we can change the bundle identifier to include "password". But to be safe, let me check a bit.

[2018-04-29 00:09] jaydisc commented on #162
I can't find anything in the wiki about this. Should I be seeing one for this entry?

![img_2046](https://user-images.githubusercontent.com/1192605/39401933-501ab2ea-4b95-11e8-8be8-c3a7863b928c.png)

[2018-04-29 18:55] #179 closed

[2018-04-30 19:55] snakelab commented on #153
Well, i mean this issue:
https://github.com/libgit2/objective-git/issues/648
where tiennou mentioned the update to the new ssl lib....

[2018-04-30 21:39] mssun commented on #153
@snakelab  Thanks. I tried to build with the master branch and got an error. I have reported to the upstream: https://github.com/libgit2/objective-git/issues/654

[2018-05-02 07:19] dl7tny opened #181 "App crashes when decrypting"
IOS: 11.3.1 (15E302)
Device: iPhone X and iPhone 6 Plus
Pass: 0.3.1 (15)
GPG Key: 2.048 bit DSA (fairly old)

I can browser the folder tree with all passwords but as soon as i try to decrypt one password, the app asks me for my key passphrase and then silently crashs. I can restart the app and play this game endless.

[2018-05-02 17:06] SimplyDanny commented on #181
Does the problem only occur with specific password files or with all of them?

[2018-05-02 18:28] mssun commented on #181
Is this related to the latest update in App Store? If so, can you try to re-import keys? Thanks.

[2018-05-02 19:27] dl7tny commented on #181
No it existed before the last update in the app store and still exists with the current Version.

[2018-05-03 16:36] mssun commented on #153
@phatblat it works. Thanks.

[2018-05-05 10:37] JerryWho opened #182 "Using self built or “verified“ builds?"
First of all: Thank you for this great tool!  I‘m not suspecting you to do anything malicous. But when it comes down to security I‘m getting paranoid 😬

I‘m new to app-programming. So please excuse me if this is a dumb question.
 Is there any way to verify that the version I can download from the Appstore is the one based on this source code here? Looking at this source code I can verify that ther

[2018-05-05 17:28] mssun commented on #182
@JerryWho We just cannot do it actually :(

Apple and I are man in the middle, and we can do any evil things in theory.

In a nutshell, all security properties depend on your trust -  who do you trust? Compiler, App Store, Travis CI or me? If you are a little paranoid, and would not trust me, then you have to compile the code by yourself.

There are some technologies around like remote attestation

[2018-05-05 18:28] JerryWho commented on #182
@mssun Thank you for your answer. I thougt there might be something like a signature of a specific build. I close the issue.

[2018-05-05 18:28] #182 closed

[2018-05-07 13:49] mssun commented on #182
Yes, using signature is a method, but it’s difficult to be verified by
users.

On Sat, May 5, 2018 at 11:28 AM Jerry Who <notifications@github.com> wrote:

--
Best,
Mingshen
www.cse.cuhk.edu.hk/~mssun

[2018-05-08 03:29] alexdavid opened #183 "QR code scanner broken"
The ssh key qr code scanner seems to be broken again since the latest update:

![image](https://user-images.githubusercontent.com/751581/39736543-4f3970c2-5235-11e8-87fd-ec1f956adafa.png)

[2018-05-09 01:57] blahgeek commented on #177
The PR for firefox-ios was merged! Just waiting for it to release.

[2018-05-09 16:47] dl7tny commented on #181
Tried to re-import the gpg key, but the app still crashes when decrypting.

[2018-05-09 18:00] yishilin14 commented on #181
Are you able to encrypt a new password file?

[2018-05-09 18:09] dl7tny commented on #181
No. "Cannot encrypt. Missing required MPI. Invalid Key"

[2018-05-09 18:10] yishilin14 commented on #183
Mine is working. And the "scanner output" log appears if I disable the camera permission for Pass.

Is it possible that your Pass does not have access to the camera? You could go to your system setting and enable the camera permission.

The wording here is bad. We will change it, say to "Pass does not have permission .....".

[2018-05-09 20:56] alexdavid commented on #183
You are completely right. Not sure how that got turned off.

Thanks!

[2018-05-09 20:56] #183 closed

[2018-05-12 16:27] khinsen opened #184 "SSH key problems"
I am trying to set up passforios as documented for a self-hosted git server accessible via ssh. I installed the private key via iTunes, which seems to have worked.

When I try to clone my repository, passforious asks me for my SSH passphrase although my key does not have one. That looks suspect. When I enter an empty passphrase, the questions comes up again. After a few repetitions, I get the erro

[2018-05-13 19:15] khinsen commented on #184
Some more experimentation showed that it's my key that somehow caused the problem, although it's the same one I use with another iOS app (Working Copy) to access my git server. I generated a new key specifically for passforios, and with that key it works just fine.

[2018-05-15 04:44] tsibley opened #185 "Add support for Elgamal keys by upgrading ObjectivePGP to 0.12.0"
See the recent release at https://github.com/krzyzanowskim/ObjectivePGP/releases/tag/0.12.0 which was spurred by [this issue](https://github.com/krzyzanowskim/ObjectivePGP/issues/12).

Upgrading the dep should fix the crash I was encountering here: https://github.com/mssun/passforios/issues/145

[2018-05-15 12:05] mssun commented on #185
Good, I'm working on it.

[2018-05-21 03:07] yhager commented on #181
same issue here, with an ipod touch 6.

[2018-05-21 06:06] mssun commented on #185
Fixed in https://github.com/mssun/passforios/commit/868e91e99ccc3bd32cf56f997a2bb7644600fdd1.

[2018-05-21 16:58] mssun commented on #184
What algorithm did you use to generate the ssh key?

[2018-05-21 17:06] mssun commented on #181
Seems that the Objective PGP does not support MPI for DSA: https://github.com/krzyzanowskim/ObjectivePGP/blob/develop/ObjectivePGP/Packets/PGPPublicKeyEncryptedSessionKeyPacket.m#L155

[2018-05-21 19:18] khinsen commented on #184
RSA2, both for the old key that doesn't work and for the new key that does. They are also both 2048 bits long. I cannot see any obvious difference between the two keys.

[2018-05-21 23:05] yhager commented on #181
This could explain my issue, my key is DSA. What would you recommend I do? Change my key? wait?

[2018-05-22 18:43] apfohl opened #186 "Underlying error: unsupported URL protocol"
Hi,

I’ve just upgraded to v0.4.0 (4) on my iPhone and discovered an error that my Git remote URL does not seem to work anymore. I’m using the SSH variant: ssh://git@host/pass.git with an SSH key.

When I try to clone, I get an error message: Faild to clone repository from ssh://git@host/pass.git to file:///... Underlying error: unsupported URL protocol.

Maybe this has something to do with the up

[2018-05-22 22:27] antonlindstrom opened #187 "Support for Yubikey NFC"
Yubico released some information about an SDK for Yubikey NFC. It would be a really nice feature to support having the GPG key on a separate key and use the NFC reader to decrypt the password store.

https://www.yubico.com/2018/05/yubikey-comes-to-iphone-with-mobile-sdk-for-ios-and-lastpass-support/

I understand that this might be a very low priority feature but I thought I would add it here any

[2018-05-23 00:12] intelfx commented on #186
Yeah, really nice. I attempted to re-clone the pass repo and was left without one at all.

[2018-05-23 00:39] mssun commented on #186
Thanks for the report. I'll look into this issue, tonight.

[2018-05-23 02:26] tsibley commented on #185
@mssun Thank you!  I look forward to the next release that contains the improvement.

[2018-05-23 21:13] posix4e commented on #186
Same on gitlab

[2018-05-24 03:03] fancyoung commented on #46
The bug reopened on new version v0.4.

with ssh://user:server/... + SSH key authentication

[2018-05-24 03:13] opposablebrain commented on #186
@mssun Thanks for getting on this quickly. In the meantime, can you recommend any obvious workarounds?

[2018-05-24 05:26] opposablebrain commented on #186
@mssun I see you commented a while back on a seemingly related issue ([objective-git2#646])(https://github.com/libgit2/objective-git/issues/646) (see OP error message). Is it possible that the release that carthage fetches failed to include libssh?

FWIW, if I force objective-git to use 0.13.0, everything works fine.

[2018-05-24 11:32] apfohl commented on #46
#186

[2018-05-24 13:17] bexelbie commented on #186
If it helps, I am seeing this on an SSH file access machine that is not a traditional git forge.  Appears to be directly related to the update on 23 May, 2018

[2018-05-24 16:10] mssun commented on #186
Sorry for the recent release. I am releasing a new version (fallback to objective-git 0.13.0).

[2018-05-24 16:37] opposablebrain commented on #186
Thanks, @mssun! I will donate $50 to app development if you add a few basic tests, e.g. access a test repo successfully to fetch, add, and push; over https and ssh. I mean that.

[2018-05-25 17:12] snakelab commented on #153
@mssun is a new release coming??

[2018-05-25 21:47] ViktorEvil commented on #186
Same error syncing to a local git server, started after the latest update

[2018-05-26 08:40] jamespoore commented on #186
When will the new/fixed version be available on the App Store?

Thanks

[2018-05-27 10:57] bexelbie commented on #186
Can you revert the update on the app store for those of not using https?

[2018-05-27 22:38] mssun commented on #186
I'm reverting to the old version. Publishing on App Store still needs some time for review. Please stay tuned. Thanks.

[2018-05-28 02:51] w2ak opened #188 "iPad settings window bug"
Hello :smiley: I hope I gave enough information, please tell me if you need anything else!

And thank you so much for your great work with the app :+1:

## System information

App version: 0.4.0
iOS version: 11.3
Device: iPad pro

## Bug description

Here are three situations with screenshots. Two of them are buggy.

### First bug

In Pass, open settings. The standard layout is two columns.

![img

[2018-05-28 12:21] alexmironof commented on #171
Closing this in prefer of https://github.com/mssun/passforios/issues/186

[2018-05-28 12:21] #171 closed

[2018-05-28 17:02] ypoxls opened #190 "Is YAML formatting required for passforios ?"
As a new user, I noticed that my multiline data does not appear correctly in passforios.
I can only get the data to appear if I choose the "RAW" data option after selecting an entry.

I have colons, slashes, and other special characters in my multiline data (being interpreted as YAML).

The workaround I'm using is to add additional formatting (quotation) to all my entries - which is not required f

[2018-05-28 17:14] yishilin14 commented on #190
The short answer is no.

To support multi-line fields #133 ,  @SimplyDanny contributed some codes so that as long as an entry can be interpreted as a valid YAML file, it will be parsed as a YAML file.

It works great for most cases. However, it seems like there are some compatibility issues for some corner cases. For example, the one fixed in 54c7acf65132ebacb13aebbc164836b22d58c730 and this issue

[2018-05-28 17:19] yishilin14 commented on #190
BTW, do you mind to share with us what your multi-line fields look like?
Let me see whether it should be added as a special case where parsing as YAML should be turned off by default.

[2018-05-28 17:38] ypoxls commented on #190
`a-very-long-and-complicated-password`
`Group: accounts`
`Filename: apple-myappleid`
`Title: Apple - MyAppleID`
`Username: name@domain.tld`
`URL: http://appleid.apple.com`
`Notes: // security hints: 1900/00/00 [security hint 1] [security hint 2] [security hint 3] // billing: street addtess City State ZipCode CellPhone`

[2018-05-29 09:00] dl7tny commented on #181
The testflight version from last night (0.4.1 (1)) seems to fix the problem. I can now decrypt my passwords.

[2018-05-29 16:33] mssun commented on #181
Ok, cool. How about @yhager ? Can I close this issue?

[2018-05-29 16:42] mssun commented on #153
@snakelab Due to an issue of objective-git, we still cannot use the latest release for now. Thanks.

[2018-05-30 15:55] #190 closed

[2018-05-30 18:08] yhager commented on #181
@mssun, yes! Latest version works for me too. Thanks!

[2018-05-30 18:10] mssun commented on #181
Thanks @yhager. I'm closing this issue.

[2018-05-30 18:10] #181 closed

[2018-06-04 03:19] jakerobers commented on #153
Adding link for convenience. It looks like it will get merged soon: https://github.com/libgit2/objective-git/pull/645

[2018-06-05 08:44] comatory opened #191 "[Feature request] Allow to display (compatible) binary files from password storage"
So quite more often I use my password storage to store different kind of files. For example I have it structured like this:

[code]

The files themselves are displayed in the app but I'm unable to display them. Would it be possible to use some kind of mime type detection and allow to open these files? I think having the ability to read PDF files would be useful, along with txt's (I can think maybe

[2018-06-05 15:47] migmedia opened #192 "SSH clone error"
I got the following error using a keyfile:
`...
Underlying error: Failed to authenticate SSH session: Unable to extract public key from private key file: Wrong passphrase or invalid/unrecognized private key file format`

When I use a password:
`Underlying error: callback returned unsupported credentials type`

Both operations causes a log-entry:
`Connection closed by authenticating user XXXXXX 192

[2018-06-07 22:22] Recognition101 opened #193 "iPhone X Crashes After Setting Up "Passcode Lock""
Reproduction Instructions:

1. Install passforios version 0.4.1 from the App Store on an actual (non-simulator) iPhone X (iOS 11.4)
2. Go to Settings > Passcode Lock, enable it by typing any password twice.
3. Exit to the home screen.
4. Re-open the App. Observe the app instantly crashes.
5. Try to open the app share extension. Observe the app share extension instantly crashes.

From the crash log

[2018-06-11 06:10] jaydisc commented on #193
Same issue with 0.4.1(1) from TestFlight on iOS 12b1.

[2018-06-15 11:03] savyajha commented on #153
Asked for the linked PR to get merged, seeing as their holdup seems to have been fixed. Hopefully we'll get a fix to that issue that's blocking the upgrade of objective-git here.

[2018-06-16 00:08] #172 closed

[2018-06-16 00:09] #158 closed

[2018-06-16 00:11] mssun commented on #186
Hi all, I'm releasing a test flight because of the merged PR "Update libgit2 to 0.27" (https://github.com/libgit2/objective-git/pull/645). Please help me test if everything works well. Thank you!

[2018-06-16 00:13] mssun commented on #176
@djmoch Thanks again. I am still happy with my previous design. I'm closing this issue. Feel free to reopen if you have an updated version. Thanks.

[2018-06-16 00:13] #176 closed

[2018-06-16 00:15] mssun commented on #153
Hi all, I'm releasing a test flight because of the merged PR "Update libgit2 to 0.27" (https://github.com/libgit2/objective-git/pull/645). Please help me test if everything works well. Thank you!

[2018-06-17 03:34] raxod502 commented on #153
I can now clone repositories from GitHub with the latest update. Thanks!

[2018-06-17 05:04] savyajha commented on #153
Using it on a private server, it works with the [Mozilla OpenSSH guidelines](https://infosec.mozilla.org/guidelines/openssh). Thank you!

[2018-06-18 03:28] nicholashanoian opened #194 "Option for Face ID to see passwords"
Really enjoying this app! I would love to see Face ID included.

[2018-06-18 08:33] snakelab commented on #153
@mssun thanks for releasing this issue - it is also working for me now!

[2018-06-18 13:03] savyajha commented on #194
Or touchid. Just sayin’ 😁

[2018-06-18 16:43] savyajha commented on #194
Fwiw, it would be really nice if there was an option like what gpg-agent has. A combination of `default-cache-ttl` and `max-cache-ttl`. Once the pgp key password has been given, `default-cache-ttl` becomes the time for which you can use your fingerprint (or face) to unlock the database. `max-cache-ttl` should be the time after which you _must_ enter your key password to be able to use the applicat

[2018-06-19 05:36] mssun commented on #193
The update: 0.5.0 (2) has been released in TestFlight.

[2018-06-19 06:55] jaydisc commented on #193
Working nicely here on 12b1.

FWIW, I often find the requirement of picking yet another passcode to enable Face/TouchID in each app to be annoying. 1Blocker is an example app that lets you activate FaceID without picking a PIN.

Perhaps an option to secure the SSH or GPG passphrase(s) with FaceID would be a nicer option and avoid that need for Yet Another PIN.

[2018-06-19 09:49] wxcafe opened #195 "Crashes whenever trying to view password"
Hey! Today after updating my gpg keyring and pass repo to change the subkey I was using for encryption, passforios started crashing every time I try to look at a password. I can import the key correctly, update the repo and even add new passwords but I can't view any of them. I tried to re-import the gpg keys, to update the repository, to delete the app and reinstall it, and it's still the same pr

[2018-06-19 22:35] wxcafe commented on #195
can confirm it still happens on 11.4.1 beta 3 (15G5072a)

[2018-06-22 13:32] kenny-evitt commented on #88
@yishilin14 Is there a *specific* "major operation" need to implement this, or did you mean just that implementing it is itself a major operation?

[2018-06-26 15:58] adtac opened #196 "iOS 12 supports third-party keychains! (Password Autofill)"
https://developer.apple.com/documentation/authenticationservices?language=objc

I'm no iOS developer, but I'm so excited for this feature. In fact, I got so excited I downloaded the public beta on my main device (there are so many other nice features in this version).

I'd love to use my favourite password manager (hint: it's pass :P) natively instead of having to either use the Safari sharesheet

[2018-06-26 16:25] mssun commented on #196
Great, thanks for sharing. We will work on that.

[2018-07-01 17:45] jeffrey182 opened #197 "Option to hide alphabetic scrollbar and sections"
Please add option to hide the alphabetic scrollbar and alphabetic sections.

[2018-07-02 13:40] wxcafe commented on #195
my bad, this was due to my uploaded key file not containing the necessary subkey to decrypt the files. Output could be better than quitting though, like printing a tooltip with "the provided key is not appropriate to decipher the passwords" or something

[2018-07-10 09:09] bexelbie opened #198 "[Feature Request] default to search all"
I use directories to organize my passwords on disk. It’d save a lot of clicks if I could default to search all, not search current.

[2018-07-10 09:11] bexelbie opened #199 "[Feature Request] Option to assume line 2 is login ID"
At the command prompt, I often do `pass -c2 foo` to copy unusual login ids. Therefore I don’t use a “login:” key. Can we have an option to assume line 2 is the login if there is no key?